<div class="layout-card">
    <p-toast />
    <div class="layout-card-title">
        <span>Requisições</span>
        <div class="flex gap-2">
            <p-button icon="pi pi-plus" [text]="true" label="Solicitação" (onClick)=" showDialogReq()" />
            <p-divider layout="vertical" />
            <p-button icon="pi pi-plus" [text]="true" label="Entrega de Materiais" (onClick)="showDialogDeliveryMat()" />
            <p-divider layout="vertical" />
            <p-button icon="pi pi-reply" [text]="true" label="Devolver" severity="danger" [disabled]="selectedMaterials.length == 0"
                (onClick)=" returnMaterial()" />
        </div>
    </div>
    <p-table #dt dataKey="mecId" [value]="listfilterMec" [expandedRowKeys]="expandedRows"
        (onRowExpand)="onRowExpand($event)" (onRowCollapse)="onRowCollapse($event)" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]" [globalFilterFields]="['mechanic.name']" [tableStyle]="{ 'min-width': '50rem' }"
        styleClass="p-datatable-sm">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between">
                <p-iconField iconPosition="left">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Pesquisar mecânicos" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 5%"></th>
                <th class="font-normal" style="width: 5%"></th>
                <th pSortableColumn="mecName" class="font-normal" style="width: 90%">Mecânicos<p-sortIcon
                        field="mecName" /></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mec let-expanded="expanded">
            <tr>
                <td>
                    <p-button type="button" pRipple [pRowToggler]="mec" [text]="true" [rounded]="true" size="small" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                </td>
                <td>
                    <img *ngIf="mec.mechanic.photo" class="layout-img-small" src="data:image/png;base64,{{mec.mechanic.photo}}" alt="photo mechanic" width="50" height="50" loading="lazy" />
                    <img *ngIf="!mec.mechanic.photo" class="layout-img-small" src="assets/icons/iconmecanico.png" alt="photo mechanic" width="50" height="50" />
                </td>
                <td class="font-bold text-lg">{{mec.mechanic.name | titlecase}}</td>
            </tr>
        </ng-template>
         <ng-template pTemplate="rowexpansion" let-mec>
            <tr>
                <td colspan="7">
                    <div class="p-3">
                        <p-table #dt1 [value]="mec.materials" dataKey="matMecId" 
                            [(selection)]="selectedMaterials"
                            rowGroupMode="rowspan" 
                            groupRowsBy="requestId"
                            sortField="requestId" 
                            sortMode="single"  
                            styleClass="p-datatable-sm">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="requestId" class="font-normal" style="width: 10%">Requisição<p-sortIcon field="requestId"></p-sortIcon></th>
                                    <th></th>
                                    <th pSortableColumn="requestDate" class="font-normal" style="width: 10%">Entregue<p-sortIcon field="requestDate"></p-sortIcon></th>
                                    <th pSortableColumn="categoryDesc" class="font-normal" style="width: 10%">Categoria<p-sortIcon field="categoryDesc"></p-sortIcon></th>
                                    <th pSortableColumn="materialPhoto" class="font-normal" style="width: 10%">Foto<p-sortIcon field="materialPhoto"></p-sortIcon></th>
                                    <th pSortableColumn="materialDesc" class="font-normal" style="width: 30%">Descrição<p-sortIcon field="materialDesc"></p-sortIcon></th>
                                    <th pSortableColumn="materialQuantReq" class="font-normal" style="width: 10%">Quant.<p-sortIcon field="materialQuantReq"></p-sortIcon></th>
                                    <th pSortableColumn="requestInf" class="font-normal" style="width: 10%">Inf.<p-sortIcon field="requestInf"></p-sortIcon></th>
                                    <th class="font-normal" style="width: 10%">Ver</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-mat let-rowgroup="rowgroup" let-rowspan="rowspan">
                                <tr *ngIf="!mat.matMecDateRet">
                                    
                                    <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                                        {{mat.requestId}}
                                    </td>
                                    <td>
                                        <p-tableCheckbox [value]="mat" />
                                    </td>
                                    <td>{{mat.matMecDelivDate | date:'dd/MM/yyyy'}}</td>
                                     <td>{{mat.categoryDesc | uppercase}}</td>
                                    <td>
                                        <img *ngIf="getMaterialPhoto(mat.matMecMaterialId)" class="layout-img-small" src="data:image/png;base64,{{getMaterialPhoto(mat.matMecMaterialId)}}" alt="photo material" width="42" height="42" loading="lazy" />
                                        <img *ngIf="!getMaterialPhoto(mat.matMecMaterialId)" class="layout-img-small" src="assets/icons/icontool.jpg" alt="photo material" width="42" height="42" />
                                    </td>
                                    <td>{{mat.matMecMaterialDesc | uppercase}}</td>
                                    <td>{{mat.matMecDelivQuantity | number:'1.2-2'}}</td>
                                    <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                                        {{mat.requestInformation | uppercase}}
                                    </td>
                                    <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                                        <p-button icon="pi pi-eye" label="Visualizar" [rounded]="true" [text]="true" severity="secondary"  size="large"/>
                                    </td> 
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template> 
    </p-table>
</div>

<!-- Requisição de materiais -->
<p-dialog header="Entrega de Materiais" [(visible)]="visibleDialogPegar" modal="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{width: '60rem', height:'60rem'}">
    <form [formGroup]="formPegar">
        <div class="mt-2 layout-dialog-img">
            <img *ngIf="photoMec" class="layout-img-large" src="data:image/png;base64,{{photoMec}}" alt="photo mechanic" loading="lazy" />
            <img *ngIf="!photoMec" class="layout-img-large" src="assets/icons/iconmecanico.png" alt="photo mechanic" />
        </div>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6 p-1">
                <label for="mechanicId">Mecânicos</label>
                <p-multiSelect [options]="listMec" display="chip" [selectionLimit]="1" optionLabel="name" formControlName="mechanic" (onChange)="selectMechanic()" [style]="{height:'45.5px'}">
                    <ng-template let-value pTemplate="selectedItems">
                        <div class="inline-flex align-items-center gap-2" *ngFor="let mec of value">
                            <img *ngIf="!mec.photo" class="layout-img-small" src="assets/icons/iconmecanico.png" alt="photo mechanic" width="32" height="32" />
                            <img *ngIf="mec.photo" class="layout-img-small" src="data:image/png;base64,{{mec.photo}}" alt="" height="32" width="32" />
                            <div style="margin: 0.42rem;">{{ mec.name | uppercase }}</div>
                        </div>
                        <div *ngIf="!value || value.length === 0">Selecione</div>
                    </ng-template>
                    <ng-template let-mec pTemplate="item">
                        <div class="flex align-items-center gap-2">
                             <img *ngIf="!mec.photo" class="layout-img-small" src="assets/icons/iconmecanico.png" alt="photo mechanic" width="32" height="32" />
                             <img *ngIf="mec.photo" class="layout-img-small" src="data:image/png;base64,{{mec.photo}}" alt="" height="32" width="32" />
                            <div>{{ mec.name | uppercase}}</div>
                        </div>
                    </ng-template>
                </p-multiSelect>
                <small class="p-error block" *ngIf="formPegar.get('mechanic')?.invalid">Campo obrigatório</small>
            </div>
            <div class="field col-12 md:col-6 p-1">
                <label for="categoryId">Categoria</label>
                <p-multiSelect [options]="listCat" optionLabel="description" placeholder="Categorias" display="chip" [selectionLimit]="1" formControlName="categories" (onChange)="selectCategory()" [style]="{height:'45.5px'}" />
                <small class="p-error block" *ngIf="formPegar.get('categories')?.invalid">Campo obrigatório</small>
            </div>
            <div *ngIf="listRequest.length" class="field col-10 p-1">
                <label for="categoryId">Requisições pedentes</label>
                <p-multiSelect [options]="listRequest"  display="chip" [selectionLimit]="1" optionLabel="id" formControlName="request" [style]="{height:'45.5px'}" >
                    <ng-template let-value pTemplate="selectedItems">
                        <div class="inline-flex align-items-center gap-2" *ngFor="let req of value">
                            <div style="margin: 0.42rem;"><span><strong>Nº. {{ req.id }}</strong></span> - {{ req.requestInformation | uppercase }}</div>
                        </div>
                        <div *ngIf="!value || value.length === 0">Selecione</div>
                    </ng-template>
                    <ng-template let-req pTemplate="item">
                        <div class="flex align-items-center gap-2">
                                <div><span><strong>Nº. {{ req.id }}</strong></span> - {{ req.requestInformation | uppercase }}</div>
                        </div>
                    </ng-template>
                </p-multiSelect>
            </div>
            <div *ngIf="listRequest.length" class="filed col-2 flex align-items-center gap-2">
                <p-checkbox inputId="requestCompleteId" value="yes" formControlName="requestComplete"/>
                <label for="requestCompleteId">Encerrar</label>
            </div>
            <div class="field col-12 p-0">
                <label for="mechanicId">Materiais</label>
                <p-multiSelect [options]="listMatTemp" (onChange)="selectMaterial()" display="chip" [disabled]="disabledSelectMat"
                    [selectionLimit]="quantitySelectDefaultMat()" placeholder="Selecione" optionLabel="description"
                    formControlName="material" [style]="{height:'45.5px'}">
                    <ng-template let-value pTemplate="selectedItems">
                        <div class="inline-flex align-items-center gap-2" *ngFor="let mat of value">
                            <img *ngIf="mat.photo" class="layout-img-small" src="data:image/png;base64,{{mat.photo}}" height="32" width="32" />
                            <img *ngIf="!mat.photo" class="layout-img-small" src="assets/icons/icontool.jpg" alt="photo material" width="32" height="32" />
                            <div style="margin: 0.42rem;">{{ mat.description | uppercase }}</div>
                        </div>
                        <div *ngIf="!value || value.length === 0">Selecione</div>
                    </ng-template>
                    <ng-template let-mat pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <img *ngIf="mat.photo" class="layout-img-small" src="data:image/png;base64,{{mat.photo}}" height="32" width="32" />
                            <img *ngIf="!mat.photo" class="layout-img-small" src="assets/icons/icontool.jpg" alt="photo material" width="32" height="32" />
                            <div>{{ mat.description | uppercase}}</div>
                            <div class="font-bold"> - {{mat.quantityAvailableLoan}}</div>
                        </div>
                    </ng-template>
                </p-multiSelect>
                <small class="p-error block" *ngIf="formPegar.get('material')?.invalid">Campo obrigatório</small>
            </div>
        </div>
    </form>
    <div class="field col-12 p-0" style="height: 280px;">
        <p-table [value]="formPegar.get('material').value" dataKey="id" editMode="row" [scrollable]="true" scrollHeight="280px"
            styleClass="p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                    <th class="font-normal" style="width:5%">Código</th>
                    <th class="font-normal" style="width:10%">Foto</th>
                    <th class="font-normal" style="width:50%">Descrição</th>
                    <th *ngIf="selectTypeCategory == EPI" class="font-normal" style="width:15%">Nº CA</th>
                    <th class="font-normal" style="width:10%">Quant.</th>
                    <th class="font-normal"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-mat let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="mat">
                    <td>{{mat.id}}</td>
                    <td>
                        <img *ngIf="mat.photo" class="layout-img-small" src="data:image/png;base64,{{mat.photo}}" [alt]="mat.description" width="32" height="32" loading="lazy" />
                        <img *ngIf="!mat.photo" class="layout-img-small" src="assets/icons/icontool.jpg" alt="photo material" width="32" height="32" />
                    </td>
                    <td>{{mat.description | uppercase}}</td>
                    <!-- Nº CA -->
                    <td *ngIf="selectTypeCategory == EPI">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber model="decimal" [useGrouping]="false" [(ngModel)]="mat.numberCA"/>
                            </ng-template>
                            <ng-template pTemplate="output">
                              <div *ngIf="mat.numberCA != 0">{{mat.numberCA}}</div>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td *ngIf="selectTypeCategory == EPI || selectTypeCategory == FERRAMENTA">
                        {{mat.quantityLoan | number:'1.2-2'}}
                    </td>
                    <td  *ngIf="selectTypeCategory == UNIFORME">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber model="decimal" [useGrouping]="false" [(ngModel)]="mat.quantityLoan"/>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{mat.quantityLoan | number:'1.2-2'}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td *ngIf="selectTypeCategory == UNIFORME || selectTypeCategory == EPI">
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button 
                                *ngIf="!editing" 
                                pButton 
                                pRipple 
                                type="button" 
                                pInitEditableRow 
                                icon="pi pi-pencil" 
                                (click)="onRowEditInit(mat)" 
                                class="p-button-rounded p-button-text">
                            </button>
                            <button 
                                *ngIf="editing" 
                                pButton 
                                pRipple 
                                type="button" 
                                pSaveEditableRow 
                                icon="pi pi-check" 
                                (click)="onRowEditSave(mat)" 
                                class="p-button-rounded p-button-text p-button-success mr-1">
                            </button>
                            <button 
                                *ngIf="editing" 
                                pButton pRipple 
                                type="button" 
                                pCancelEditableRow 
                                icon="pi pi-times" 
                                (click)="onRowEditCancel(mat, ri)" 
                                class="p-button-rounded p-button-text p-button-danger">
                            </button>
                        </div>
                    </td>
                    <td *ngIf="selectTypeCategory != UNIFORME"></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="flex justify-content-between mt-1">
        <p-button icon="pi pi-info-circle" (onClick)="showDialogInf()" />
        <div class="gap-2">
            <button pButton type="button" pRipple label="Fechar" icon="pi pi-times" class="p-button-text" (click)=" hideDialogDeliveryMat()"></button>
            <button pButton type="button" pRipple label="Confirmar" icon="pi pi-check" class="p-button-text" [disabled]="formPegar.get('material').invalid" (click)="confirmDeliveryMaterial()"></button>
        </div>
    </div>
</p-dialog>

<!-- Dialog info -->
<p-dialog header="Informações" [(visible)]="visibleDialogPegarInf" modal="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{width: '40rem', height:'20rem'}">
    <form [formGroup]="formPegar">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12">
                <textarea rows="5" cols="30" pInputTextarea formControlName="inforReq"></textarea>
            </div>
        </div>
    </form>
    <div class="flex justify-content-center">
        <button pButton type="button" pRipple label="Fechar" icon="pi pi-times" class="p-button-text" (click)="hideDialogInf()"></button>
    </div>
</p-dialog>

<!-- Retorno de material -->
<p-dialog header="Devoluções de Materiais" [(visible)]="visibleDialogDev" modal="true" closable="false"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{width: '80rem', height:'40rem'}">
    <div style="min-height: 30rem;">
        <p-table [value]="listReturnMaterial" [tableStyle]="{ 'min-width': '40rem'}" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th class="font-normal" style="width: 10%">Requisição</th>
                    <th class="font-normal" style="width: 35%">Mecânico</th>
                    <th class="font-normal" style="width: 10%">Categoria</th>
                    <th class="font-normal" style="width: 5%">Quantidade</th>
                    <th class="font-normal" style="width: 40%">Material</th>
                    <th class="font-normal" style="width: 10%">Inf</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-mat>
                <tr>
                    <td>{{mat.requestId}}</td>
                    <td class="flex align-items-center gap-2">
                        <img *ngIf="mat.mechanic.photo" class="layout-img-small" src="data:image/png;base64,{{mat.mechanic.photo}}" alt="photo mechanic" width="42" height="42" loading="lazy" />
                        <img *ngIf="!mat.mechanic.photo" class="layout-img-small" src="assets/icons/iconmecanico.png" alt="photo mechanic" width="42" height="42" /> {{mat.mechanic.name | uppercase}}
                    </td>
                    <td>{{mat.categoryDesc | uppercase}}</td>
                    <td>{{mat.matMecQuantityReq}}</td>
                    <td class="flex align-items-center gap-2">
                        <img *ngIf="mat.materialPhoto" class="layout-img-small" src="data:image/png;base64,{{mat.materialPhoto}}" alt="photo material" width="42" height="42" loading="lazy" />
                        <img *ngIf="!mat.materialPhoto" class="layout-img-small" src="assets/icons/icontool.jpg" alt="photo material" width="42" height="42" /> {{mat.materialDesc | uppercase}}
                    </td>
                    <td><input pInputText type="text" [(ngModel)]="mat.matMecInformationRet"/></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="flex justify-content-end mt-1">
        <button pButton type="button" pRipple label="Fechar" icon="pi pi-times" class="p-button-text" (click)=" hideDialogDev()"></button>
        <button pButton type="button" pRipple label="Devolver Materiais" icon="pi pi-check" class="p-button-text" (click)="confirmReturnMaterial()"></button>
    </div>
</p-dialog>

<!-- Confirm password mechanic -->
<p-confirmDialog #dv key="confimMecCodePass">
    <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
             <span class="font-bold text-2xl block mb-2 mt-4">
                {{ message.header }}
            </span>
            <div class="mt-2 layout-dialog-img">
                <img *ngIf="photoMec"  class="layout-img-large" src="data:image/png;base64,{{photoMec}}" alt="photo mechanic" loading="lazy" />
                <img *ngIf="!photoMec" class="layout-img-large" src="assets/icons/iconmecanico.png" />
            </div>
            <span class="font-bold text-2xl block mb-2">
                {{ message.message }}
            </span>
            <p class="mb-0">Por favor digite sua senha.</p>
            <div class="mt-2 flex">
                <form [formGroup]="formCodePass" (ngSubmit)="onConfirmCodePassMechanic(dv)">
                     <input pInputText id="maskedPassword" type="text" formControlName="maskedPassword" (input)="onInput()" autocomplete="off" [style]="{'height':'60px'}"/>
                </form>
            </div>
            <div class="flex align-items-center gap-2 mt-4">
                <button pButton type="button" label="Confirmar" (click)="onConfirmCodePassMechanic(dv)" class="w-8rem">
                </button>
                <button pButton label="Cancelar" (click)="dv.reject()" class="p-button-outlined w-8rem ">
                </button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>

<!-- Solicitação -->
<p-dialog header="Solicitação de Materiais" [(visible)]="visibleDialogRequest" modal="true" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{width: '60rem', height:'54rem'}">
    <form [formGroup]="formRequest">
         <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6 p-1">
                <label for="mechanicId">Mecânicos</label>
                <p-multiSelect [options]="listMec" display="chip" [selectionLimit]="1" placeholder="Selecione"
                    optionLabel="name" formControlName="mechanic" (onChange)="selectMechanic()"
                    [style]="{height:'45.5px'}">
                    <ng-template let-value pTemplate="selectedItems">
                        <div class="inline-flex align-items-center gap-2" *ngFor="let mec of value">
                            <img *ngIf="!mec.photo" class="layout-img-small" src="assets/icons/iconmecanico.png" alt="photo mechanic" width="32" height="32" />
                            <img *ngIf="mec.photo" class="layout-img-small" src="data:image/png;base64,{{mec.photo}}" alt="" height="32" width="32" />
                            <div style="margin: 0.42rem;">{{ mec.name | uppercase }}</div>
                        </div>
                        <div *ngIf="!value || value.length === 0">Selecione</div>
                    </ng-template>
                    <ng-template let-mec pTemplate="item">
                        <div class="flex align-items-center gap-2">
                             <img *ngIf="!mec.photo" class="layout-img-small" src="assets/icons/iconmecanico.png" alt="photo mechanic" width="32" height="32" />
                             <img *ngIf="mec.photo" class="layout-img-small" src="data:image/png;base64,{{mec.photo}}" alt="" height="32" width="32" />
                            <div>{{ mec.name | uppercase}}</div>
                        </div>
                    </ng-template>
                </p-multiSelect>
            </div>
            <div class="md:col-6"></div>
            <div class="col-12 md:col-6 flex flex-column gap-2 border-1 border-round-md border-200">
                <span>Tipo</span>
                <div class="flex gap-2">
                    <div class="flex align-items-center">
                        <p-radioButton inputId="typeFerrId" [value]="FERRAMENTA" formControlName="type"></p-radioButton>
                        <label for="typeFerrId" class="ml-2">Ferramenta</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton inputId="typeEpiId" [value]="EPI" formControlName="type"></p-radioButton>
                        <label for="typeEpiId" class="ml-2">EPI</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton inputId="typeUnifId" [value]="UNIFORME" formControlName="type"></p-radioButton>
                        <label for="typeUnifId" class="ml-2">Uniforme</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton inputId="typeOutroId" [value]="OUTRO" formControlName="type"></p-radioButton>
                        <label for="typeOutroId" class="ml-2">Outro</label>
                    </div>
                </div>
            </div>
            <div class="field col-12">
                <label for="inforReqId">Informação da solicitação</label>
                <textarea rows="5" cols="30" pInputTextarea formControlName="inforReq"></textarea>
            </div>
        </div>
    </form>
    <div class="flex justify-content-end">
        <button pButton type="button" pRipple label="Solicitar materiais" class="p-button" (click)="newRequest()"></button>
    </div>
    <div class="pt-2 w-full">
        <p-table [value]="listRequestPendent"  styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="280px">
            <ng-template pTemplate="header">
                <tr>
                    <th class="font-normal" style="width: 5%">Nº</th>
                    <th class="font-normal" style="width: 20%">Mecânico</th>
                    <th class="font-normal" style="width: 70%">Solicitação</th>
                    <th class="font-normal" style="width: 5%">Encerrar</th>
                    <th class="font-normal" style="width: 5%">Ver</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-req>
                <tr>
                    <td>{{req.id}}</td>
                    <td>{{getMechanicName(req.mechanicId) | uppercase }}</td>
                    <td>{{req.requestInformation | uppercase}}</td>
                    <td>
                        <p-button label="Encerrar" icon="pi pi-check" size="small" severity="danger" [text]="true" (onClick)="completeRequest(req)"/>
                    </td>
                    <td>
                        <p-button icon="pi pi-eye" size="small" severity="secondary" [text]="true"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>