:host {
    .layout-card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        span {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--color-text-primary);
        }
    }

    .layout-dialog-img {
        width: 100%;
        height: 160px;
        background-color: var(--color-grey-200);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

    }

    .layout-img-small {
        background-color: var(--color-grey-200);
        border-radius: 100%;
        object-fit: cover;
    }

    .layout-img-large {
        width: 140px;
        height: 140px;
        background-color: var(--color-grey-200);
        border-radius: 6px;
        object-fit: cover;
    }
   
    ::ng-deep {
        .p-button-label {
            font-weight: 400;
        }
    }
}