:host {

    .layout-card-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        span {
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--color-grey-800);
        }

    }

    .layout-card-filter {
        min-height: 46rem;
    }

    ::ng-deep {
        .p-button.p-button-icon-only {
            padding: 0.5rem 0;
        }

        .p-tag {
            font-weight: 400;
        }

        .p-tag.p-tag-secondary {
            background-color: var(--color-grey-300);
            color: var(--color-text-primary);
        }
    }

    .layout-mobile-button {
        display: inline-block;

        button {
            span {
                display: block;
                margin-left: 0.25rem;
            }
        }
    }

    @media (max-width: 991px) {
        .layout-mobile-button {
           
            button {
                span {
                    display: none;
                    margin: 0;
                }
            }
        }
    }

}