<div class="layout-card">
    <!-- Toast -->
    <p-toast />
    <div class="layout-card-title">
        <span>Pedidos</span>
        <div class="flex gap-2">
            <p-button icon="pi pi-plus" [text]="true" label="Novo pedido" (onClick)="newPurchaseOrder()" />
            <p-divider layout="vertical" />
            <p-button icon="pi pi-refresh" [text]="true" label="Recarregar" (onClick)="listPurchaseOrders()" />
        </div>
    </div>
    <p-table #tableFilter dataKey="id" [value]="purchaseOrders" [rowHover]="true" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        [globalFilterFields]="['id', 'clientCompanyName', 'attendantName', 'responsibleName','status']"
        [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" styleClass="p-datatable-sm">
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="left">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="tableFilter.filterGlobal($any($event.target).value, 'contains')" placeholder="Pesquisar" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" style="width:6%;">Pedido<p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="nfNum" style="width:5%;">Nota<p-sortIcon field="nfNum"></p-sortIcon></th>
                <th pSortableColumn="clientCompanyName" style="width:19%;">Fornecedor<p-sortIcon field="clientCompanyName"></p-sortIcon></th>
                <th pSortableColumn="attendantName" style="width:20%;">Forn. Contato<p-sortIcon field="attendantName"></p-sortIcon></th>
                <th pSortableColumn="dateGeneration" style="width:10%;">Criação<p-sortIcon field="dateGeneration"></p-sortIcon></th>
                <th pSortableColumn="dateDelivery" style="width:10%;">Prazo entrega<p-sortIcon field="dateDelivery"></p-sortIcon></th>
                <th pSortableColumn="responsibleName" style="width:10%;">Responsavel<p-sortIcon field="responsibleName"></p-sortIcon></th>
                <th pSortableColumn="status" style="width:10%;">Entrega<p-sortIcon field="status"></p-sortIcon></th>
                <th style="width:10%;">Ação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-purchase>
            <tr>
                <td><span class="text-500">{{purchase.id}}</span></td>
                @if(purchase.nfNum != 0){
                <td><span class="text-500">{{purchase.nfNum}}</span></td>
                }@else {
                <td></td>
                }
                <td><span class="text-500">{{ abreviaNome(purchase.clientCompanyName) | uppercase}}</span></td>
                <td><span class="text-500">{{purchase.attendantName | uppercase}}</span></td>
                <td><span class="text-500">{{purchase.dateGeneration | date: 'dd/MM/yyyy'}}</span></td>
                <td><span class="text-500">{{purchase.dateDelivery | date: 'dd/MM/yyyy'}}</span></td>
                <td><span class="text-500">{{purchase.responsibleName | uppercase}}</span></td>
                <td><p-tag [value]="purchase.status" [severity]="getStatusSeverity(purchase.status)" /></td>
                <td class="flex gap-2">
                    <p-button icon="pi pi-pencil" [text]="true" size="small" label="Editar" (onClick)="edit(purchase.id)" />
                    <p-button icon="pi pi-print" (onClick)="print(purchase.id)" label="Imprimir" severity="secondary" [text]="true" size="small"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!-- Add pedido -->
<p-dialog header="Pedido de compra" [(visible)]="purcharOrderVisible" [modal]="true" [maximizable]="true"
    [style]="{ width: '80rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <form [formGroup]="formPurchase">
        <div class="p-fluid p-formgrid grid">
            <div class="col-12 flex gap-2">
                <div class="flex align-items-center gap-2 ">
                    <span>{{"Nº Pedido:"}}</span>
                    <span class="text-xl font-bold">{{numPurchaseOrder()}}</span>
                </div>
                <div *ngIf="nfNum()" class="flex align-items-center gap-2 ">
                    <span>{{"Nº Nota:"}}</span>
                    <span class="text-xl font-bold">{{nfNum()}}</span>
                </div>
            </div>
            <div class="col-12 md:col-3">
                <label for="purchaseOrderId">Comprador</label>
                <div class="layout-input-disabled">
                    <span class="text-500 font-medium"><strong>{{formPurchase.get('responsibleName').value}}</strong></span>
                </div>
            </div>
            <div class="col-12 md:col-3">
                <label for="paymentId">Forma de pagamento</label>
                <input pInputText id="paymentId" type="text" formControlName="paymentType">
                <small class="p-error block" *ngIf="formPurchase.get('paymentType')?.invalid">Campo obrigatório</small>
            </div>
            <div class="col-12 md:col-3">
                <label for="dateDeliveryId">Previsão entrega</label>
                <p-calendar [iconDisplay]="'input'" dateFormat="dd/mm/yy" [showIcon]="true" inputId="icondisplay" formControlName="dateDelivery" />
                <small class="p-error block" *ngIf="formPurchase.get('dateDelivery')?.invalid">Campo obrigatório</small>
            </div>
            <div class="md:col-3">
            </div>
            <div class="col-12 md:col-2">
                <label for="clientCompanyCodeId">Código</label>
                <p-inputNumber inputId="clientCompanyCodeId" mode="decimal" [useGrouping]="false" formControlName="clientCompanyId" />
                <small class="p-error block" *ngIf="formPurchase.get('clientCompanyId')?.invalid">Campo obrigatório</small>
            </div>
            <div class="col-10 md:col-6">
                <label for="clientCompanyNameId">Empresa</label>
                <input pInputText id="clientCompanyNameId" type="text" formControlName="clientCompanyName" />
                <small class="p-error block" *ngIf="formPurchase.get('clientCompanyName')?.invalid">Campo obrigatório</small>
            </div>
            <div class="col-2 md:col-1 flex flex-column">
                <label for="">Filtro</label>
                <app-filterclient (outputClient)="selectClientCompany.set($event)" />
            </div>
            <div class="md:col-2"></div>
            <div class="col-12 md:col-4">
                <label for="attendantNameId">Vendedor nome</label>
                <input pInputText id="attendantNameId" type="text" formControlName="attendantName" />
            </div>
            <div class="col-12 md:col-4">
                <label for="attendantEmailId">Vendedor E-Mail</label>
                <input pInputText id="attendantEmailId" type="text" formControlName="attendantEmail" />
            </div>
            <div class="md:col-4"> </div>
            <div class="col-12 md:col-1">
                <label for="attendantDddCellphoneId">DDD</label>
                <p-inputMask mask="(99)" [unmask]="true" formControlName="attendantDddCellphone" />
            </div>
            <div class="col-12 md:col-3">
                <label for="attendantCellphoneId">Celular</label>
                <p-inputMask mask="9 9999-9999" [unmask]="true" formControlName="attendantCellphone" />
            </div>
            <div class="col-12 md:col-1">
                <label for="attendantDddPhoneId">DDD</label>
                <p-inputMask mask="(99)" [unmask]="true" formControlName="attendantDddPhone" />
            </div>
            <div class="col-12 md:col-3">
                <label for="attendantPhoneId">Telefone</label>
                <p-inputMask mask="9999-9999" [unmask]="true" formControlName="attendantPhone" />
            </div>
            <div class="col-12">
                <label for="attendantPhoneId">Informações</label>
                <textarea rows="4" cols="30" pInputTextarea formControlName="information"></textarea>
            </div>
            <div class="flex w-full justify-content-between mb-2">
                <div class="flex gap-2">
                    <p-button *ngIf="!numPurchaseOrder()" type="button" icon="pi pi-plus"  [raised]="true" label="Gerar pedido" severity="success-custom" size="small" (onClick)="saveNew()" />
                    <p-button *ngIf="numPurchaseOrder()" type="button" icon="pi pi-check"  [raised]="true" label="Salvar" severity="success-custom" size="small" (onClick)="saveUpdate()" />
                    <p-divider layout="vertical" />
                    <p-button type="button" icon="pi pi-bookmark"  [raised]="true" label="Nota fiscal" severity="secondary-custom" size="small" [disabled]="!numPurchaseOrder()" (onClick)="showDialogNF()" />
                    <p-divider layout="vertical" />
                    <p-button type="button" icon="pi pi-times"  [raised]="true" label="Fechar pedido" severity="secondary-custom" size="small" [disabled]="!nfNum()" (onClick)="showDialogDateclose()" />
                    <p-divider layout="vertical" />
                    <p-button type="button" icon="pi pi-print"  [raised]="true" label="Imprimir" severity="secondary-custom" size="small" [disabled]="purchaseOrderItems.length <= 0" (onClick)="print(numPurchaseOrder())" />
                </div>
            </div>
        </div>
    </form>
    <div style="height: 27rem;">
        <p-table #tableFilter2 dataKey="id" [value]="purchaseOrderItems" editMode="row" 
            [globalFilterFields]="['partCode', 'partDescription']" 
            [scrollable]="true" scrollHeight="320px" styleClass="p-datatable-sm">
             <ng-template pTemplate="caption">
                <div class="flex justify-content-between  ">
                    <p-iconField iconPosition="left">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" (input)="tableFilter2.filterGlobal($any($event.target).value, 'contains')" placeholder="Pesquisar" />
                    </p-iconField>
                    <app-filterparts *ngIf="numPurchaseOrder()" (outputPart)="selectPart.set($event)" />
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="partCode" style="width:10%;">Código<p-sortIcon field="partCode"/></th>
                    <th pSortableColumn="partDescription" style="width:40%;">Descrição<p-sortIcon field="partDescription"/></th>
                    <th pSortableColumn="quantity" style="width:10%;">Quant.<p-sortIcon field="quantity"/></th>
                    <th pSortableColumn="price" style="width:10%;">Preço<p-sortIcon field="price"/></th>
                    <th pSortableColumn="discount" style="width:10%;">Desconto<p-sortIcon field="discount"/></th>
                    <th style="width:10%;">Total</th>
                    <th style="width:10%;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-part let-editing="editing" let-index="rowIndex">
                <tr [pEditableRow]="part">
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="part.partCode" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                <span class="text-sm">{{part.partCode}}</span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="part.partDescription" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                <span class="text-sm">{{abreviaNome(part.partDescription) }}</span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber model="decimal" currency="BRL" locale="pt-BR" [minFractionDigits]="2"
                                    [maxFractionDigits]="2" [(ngModel)]="part.quantity" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                <span class="text-sm">{{part.quantity | number:'1.2-2'}}</span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber model="decimal" currency="BRL" locale="pt-BR" [minFractionDigits]="3"
                                    [maxFractionDigits]="3" [(ngModel)]="part.price" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                <span class="text-sm">R$ {{part.price | number:'1.3-3' }}</span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber model="decimal" currency="BRL" locale="pt-BR" [minFractionDigits]="3"
                                    [maxFractionDigits]="3" [(ngModel)]="part.discount" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                <span class="text-sm">{{part.discount | number:'1.3-3' }}</span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td> <span class="text-sm"> {{ (part.quantity * part.price) - part.discount | currency }}</span> </td>
                    <td>
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button *ngIf="!editing" pButton type="button" pInitEditableRow label="Editar" icon="pi pi-pencil" (click)="onRowEditInit(part)" class="p-button p-button-text" size="small">
                            </button>
                            <button *ngIf="!editing" pButton type="button" icon="pi pi-trash" (click)="deletePart(part)" class="p-button p-button-text" size="small" severity="danger">
                            </button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(part)" class="p-button p-button-text p-button-success mr-2">
                            </button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(part, index)"
                                class="p-button p-button-text p-button-danger">
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="3" class="text-right">Totais</td>
                    <td>{{ totalItemsPrice() | currency}}</td>
                    <td>{{totalItemsDiscount() | currency}}</td>
                    <td>{{ (totalItemsPrice() - totalItemsDiscount()) | currency}}
                    <td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="flex justify-content-end mt-2">
        <button pButton type="button" pRipple label="Fechar" icon="pi pi-times" class="p-button-text" (click)="hideDialogPurchase()"></button>
    </div>
</p-dialog>
<!-- Nota Fiscal -->
<p-dialog header="Nota Fiscal" [(visible)]="nfVisible" modal="true" [maximizable]="true" [style]="{ width: '50rem',height:'44rem' }">
    <form [formGroup]="formNF">
        <div class=" p-fluid p-formgrid grid">
            <div class="col-12 md:col-4">
                <label>Número</label>
                <p-inputNumber mode="decimal" [useGrouping]="false" formControlName="nfNum" />
                <small class="p-error block" *ngIf="formNF.get('nfNum')?.invalid">Campo obrigatório</small>
            </div>
            <div class="col-12 md:col-4">
                <label>Série</label>
                <input pInputText type="text" formControlName="nfNumSerie" />
                <small class="p-error block" *ngIf="formNF.get('nfNumSerie')?.invalid">Campo obrigatório</small>
            </div>
            <div class="md:col-4"></div>
            <div class="col-12 md:col-4">
                <label>Data Emissão</label>
                <p-calendar dateFormat="dd/mm/yy" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" formControlName="nfDate" />
                <small class="p-error block" *ngIf="formNF.get('nfDate')?.invalid">Campo obrigatório</small>
            </div>
            <div class="md:col-8"></div>
            <div class="col-12">
                <label>Chave de Acesso</label>
                <p-inputMask mask="99999999999999999999999999999999999999999999" [unmask]="true" formControlName="nfKey" />
            </div>
        </div>
    </form>
    <div class="flex justify-content-end gap-2 mt-2">
        <button pButton type="button" pRipple label="Fechar" icon="pi pi-times" class="p-button-text" (click)="hideDialogNF()"></button>
        <button pButton type="submit" pRipple label="Confirmar" icon="pi pi-check" class="p-button-text" (click)="confirmNF()"></button>
    </div>
</p-dialog>
<!-- Print -->
<app-printPurchase #printComponent></app-printPurchase>
<!-- Confirm close -->
<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
                <i class="pi pi-question text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">
                {{ message.header }}
            </span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex align-items-center gap-2 mt-4">
                <button pButton label="Confirmar" (click)="cd.accept()" class="w-8rem">
                </button>
                <button pButton label="Cancelar" (click)="cd.reject()" class="p-button-outlined w-8rem ">
                </button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>
<!-- Fecha pedido -->
<p-dialog header="Data Entrega" [(visible)]="dateCloseVisible" modal="true" [style]="{ width: '30rem',height:'37rem' }">
    <form [formGroup]="formDateClose">
        <div class="p-fluid p-formgrid grid">
            <div class="col-12">
                <label for="datecloseId">Data de entrega do material</label>
                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [showOnFocus]="false" inputId="datecloseId"
                    formControlName="dateClose" />
                <small class="p-error block" *ngIf="formDateClose.get('dateClose')?.invalid">
                    Campo obrigatório</small>
            </div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
            <div class="md:col-12"></div>
        </div>
    </form>
    <div class="flex justify-content-end gap-2 mt-2">
        <button pButton type="button" pRipple label="Fechar" icon="pi pi-times" class="p-button-text" (click)="hideDialogDateclose()"></button>
        <button pButton type="submit" pRipple label="Confirmar" icon="pi pi-check" class="p-button-text" (click)="confirmDateClose()"></button>
    </div>
</p-dialog>