<mat-drawer-container class="layout-sidebar-container">
    <mat-drawer class="layout-sidebar" [mode]="size ? 'over':'side'" [opened]="visibleSidebar()">

        <cdk-virtual-scroll-viewport appendOnly [itemSize]="model.length" class="layout-scroll">

            <ul>

                @for (menuitem of model; track $index) {
                <li>
                    <app-sidebar-item [item]="menuitem" [index]="$index" />
                </li>

                }

            </ul>
        </cdk-virtual-scroll-viewport>




    </mat-drawer>
</mat-drawer-container>