:host{
    
    .layout-sidebar-content-card {
        display: flex;
        align-items: center;
        border-radius: 8px;
        border: 1px solid var(--color-grey-300);
        cursor: pointer;
        padding: 1.5rem 1rem;
        gap: 18px;


        >i {
            font-size: 1.5rem;
        }

        .layout-sidebar-content-card-item {
            display: flex;
            flex-direction: column;
            gap: 6px;

            .sidebar-content-card-item-title {
                font-size: 16px;
                font-weight: 700;
            }
        }
    }

    .layout-photo-person {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: var(--color-grey-300);
        border-radius: 100%;

        button {
            width: 80px;
            height: 80px;
            padding: 10px 10px;
            border-radius: 100%;
        }

        .layout-photo-person-label {
            display: flex;
            align-items: center;
            width: 80px;
            height: 80px;

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0px;
                width: 100%;
                height: 100%;
                color: #3B82F6;
                cursor: pointer;
            }

            
        }


    }
}