<p-toast />
<div class="flex">
    <form [formGroup]="userForm" (ngSubmit)="save()">
        <div class="p-fluid p-formgrid grid">
           <div class="col-12 flex align-items-center justify-content-center mb-2 mt-2">
                <div class="layout-photo-person mb-5">
                    <p-image *ngIf="userPhotoUrl" [imageStyle]="{'border-radius':'100%','object-fit':'cover'}" [src]="userPhotoUrl" alt="" height="80" width="80" [preview]="true" />
                    <p-button *ngIf="userPhotoUrl" severity="danger" [text]="true" label="Remover" size="small" (click)="deletePhoto()"></p-button>
                    <div *ngIf="!userPhotoUrl" class="layout-photo-person-label">
                        <button pButton type="button" label="Foto" [text]="true" size="small" (click)="selectPhoto()"></button>
                    </div>
                </div>
            </div> 
            <div class="col-12 md:col-12">
                <label for="nameid">Nome</label>
                <input pInputText id="nameid" type="text" formControlName="name" />
                <small class="p-error block" *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.dirty">Campo obrigatório</small>
            </div>
            <div class="col-12 md:col-6">
                <label for="emailId">Email</label>
                <input pInputText id="emailId" type="text" formControlName="email" >
            </div>
            <div class="col-12 md:col-4">
                <label for="cellphoneid">Celular</label>
                <p-inputMask id="cellphoneid" mask="(99) 9 9999-9999" unmask="true" formControlName="cellphone" />
            </div>
            <div class=" col-12 md:col-2">
                <label for="">Desconto</label>
                <p-inputNumber suffix="%" formControlName="limitDiscount"/>
            </div>
            <div class="col-12 md:col-6">
                <label for="">Cargo</label>
                <input pInputText formControlName="roleDesc"/>
            </div>
           <div class="col-12 md:col-6">
            </div>
            <div class="col-12 md:col-6">
                <div class="flex flex-column gap-2">
                    <div class="">Situação</div>
                    <div class="flex align-items-center gap-2 border-1 border-round border-300 p-3">
                        <div class="flex align-items-center mb-1">
                            <p-radioButton inputId="ativo" [value]="enabled" formControlName="status"></p-radioButton>
                            <label for="ativo" class="ml-2">Ativado</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton inputId="inativo" [value]="disabled" formControlName="status"></p-radioButton>
                            <label for="inativo" class="ml-2">Desativado</label>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
        <p-divider type="solid" />
        <div class="flex justify-content-end">
            <button pButton type="submit" pRipple label="Salvar" icon="pi pi-check" class="p-button-text"></button>
        </div>
    </form>
</div>