:host {

    .layout-photo-person {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: var(--color-grey-300);
        border-radius: 100%;

        button {
            width: 80px;
            height: 80px;
            padding: 10px 10px;
            border-radius: 100%;
        }

        .layout-photo-person-label {
            display: flex;
            align-items: center;
            width: 80px;
            height: 80px;

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0px;
                width: 100%;
                height: 100%;
                color: #3B82F6;
                cursor: pointer;
            }


        }


    }
}