<p-toast />
<button *ngIf="listMessage.length > 0" pButton class="p-link layout-topbar-button" (click)="op.toggle($event)">
    <i class="pi pi-bell" pBadge [value]="listMessage.length"></i>
    <label>Notificação</label>
</button>
<button *ngIf="listMessage.length == 0" pButton class="p-link layout-topbar-button" (click)="op.toggle($event)">
    <i class="pi pi-bell"></i>
    <label>Notificação</label>
</button>
<p-overlayPanel #op>
    <p-toast />
    <p-confirmDialog #cd>
        <ng-template pTemplate="headless" let-message>
            <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
                <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
                    <i class="pi pi-question text-5xl"></i>
                </div>
                <span class="font-bold text-2xl block mb-2 mt-4">
                    {{ message.header }}
                </span>
                <p class="mb-0">{{ message.message }}</p>
                <div class="flex align-items-center gap-2 mt-4">
                    <button 
                        pButton 
                        label="Confirmar" 
                        (click)="cd.accept()" 
                        class="w-8rem">
                    </button>
                    <button 
                        pButton 
                        label="Cancelar"
                        (click)="cd.reject()" 
                        class="p-button-outlined w-8rem ">
                    </button>
                </div>
            </div>
        </ng-template>
    </p-confirmDialog>
    <div *ngIf="listMessage.length > 0" class="flex flex-column" style="min-width: 20rem; min-height: 30rem;">
        <div class="flex justify-content-between align-items-center text-base text-900 font-normal mb-4 ">
            <span>Você tem <strong>{{listMessage.length}}</strong> notificações</span>
            <p-button icon="pi pi-times" size="small" [rounded]="true" severity="secondary-custom" (onClick)="op.toggle($event)"/> 
        </div>
        <div class="flex justify-content-end">
            <p-button [rounded]="true" size="small" label="Recarregar" [text]="true" (onClick)="init(true)">
                <i class="pi pi-sync px-2" [ngClass]="{'pi-spin': btnSync}"></i>
            </p-button>
        </div>
        <div class="flex border-bottom-1 border-200 m-2">
        </div>
        <p-table [value]="listMessage" [paginator]="true" [rows]="8" styleClass="p-datatable-sm">
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>
                        <div class="layout-notification">
                            <div class="flex justify-content-between text-900 font-normal mb-1">
                                <span><strong>{{item.header}}</strong></span>
                                <p class="text-sm text-900">{{getTempoDecorrido(item.origDate)}}</p>
                            </div>
                            <div class="layout-btn-a">
                                <a (click)="editVehicle(item.vehicleId)">
                                    <span>{{item.origRoleDesc}}, <strong>{{firstName(item.origUserName) }}</strong> {{item.message1}}</span>
                                    <span>{{item.message2 | uppercase}}</span>
                                    <span>{{item.message3 | uppercase}}</span>
                                </a>
                                <div class="flex gap-1">
                                    <p-button *ngIf="item.shareMessage == Yes" icon="pi pi-share-alt" size="small" [rounded]="true" text="true" (onClick)="shareVehicle(item.vehicleId)" />
                                    <p-button *ngIf="item.deleteMessage == Yes" icon="pi pi-trash" size="small" [rounded]="true" text="true" severity="danger" (onClick)="deleteMessage(item)" />
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="listMessage.length > 0" class="flex justify-content-end">
        <p-button [rounded]="true" size="small" icon="pi pi-trash" severity="danger" label="Apagar tudo" (onClick)="confirm()"></p-button>
    </div>
    <div *ngIf="listMessage.length == 0" class="flex flex-column justify-content-center align-items-center gap-2" style="min-width: 20rem; min-height: 30rem;">
        <span>Você tem não notificações</span>
        <p-button [rounded]="true" size="small" label="Recarregar" [text]="true" (onClick)="init(true)">
            <i class="pi pi-sync px-2" [ngClass]="{'pi-spin': btnSync}"></i>
        </p-button>
    </div>
</p-overlayPanel>


