<p-toast />
<button pButton class="p-link layout-topbar-button" (click)="op.toggle($event)">
    <i class="pi pi-bell" pBadge [value]="listMessage.length"></i>
    <!-- <span>Notificação</span> -->
     <label>Notificação</label>
</button>
<p-overlayPanel #op>
    <div class="flex flex-column">
        <div class="flex justify-content-between align-items-center text-base text-900 font-normal mb-4 ">
            <span>Você tem <strong>{{listMessage.length}}</strong> notificações</span>
            <p-button icon="pi pi-times" size="small" [rounded]="true" severity="secondary-custom" (onClick)="op.toggle($event)"/> 
        </div>
        <p-table [value]="listMessage" [paginator]="true" [rows]="8" styleClass="p-datatable-sm">
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>
                        <div class="layout-notification">
                            <div class="flex justify-content-between text-900 font-normal mb-1">
                                <span><strong>{{item.header}}</strong></span>
                                <p class="text-sm text-900">{{getTempoDecorrido(item.origDate)}}</p>
                            </div>
                            <div class="layout-btn-a">
                                <a (click)="editVehicle(item.vehicleId)">
                                    <span>{{item.origRoleDesc}}, <strong>{{firstName(item.origUserName) }}</strong> {{item.message1}}</span>
                                    <span>{{item.message2 | uppercase}}</span>
                                    <span>{{item.message3 | uppercase}}</span>
                                </a>
                                <div class="flex gap-1">
                                    <p-button *ngIf="item.shareMessage == Yes" icon="pi pi-share-alt" size="small" [rounded]="true" text="true" (onClick)="shareVehicle(item.vehicleId)" />
                                    <p-button *ngIf="item.deleteMessage == Yes" icon="pi pi-trash" size="small" [rounded]="true" text="true" severity="danger" (onClick)="deleteMessage(item)" />
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-overlayPanel>
