<div class="layout-card">
    <!-- Info -->
    <p-toast />
    <div class="layout-card-title">
        <span>Atendimento de veículos</span>
        <div class="layout-button-alert">
            @if (listVehicleEntry.length > 0) {
            <p-badge [value]="listVehicleEntry.length" severity="warning"></p-badge>
            <p-button icon="pi pi-car" [rounded]="true" severity="warning" [outlined]="true" [text]="true" size="large"
                (onClick)="showDialogVehicle()" />
            }
        </div>
    </div>

    <p-stepper #stepper [(activeStep)]="activeStepper">
        <p-stepperPanel>
            <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
                <button class="bg-transparent border-none inline-flex flex-column gap-2"
                    (click)="stepperClientCompany()">
                    <span
                        class="border-round border-1 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                        [ngClass]="{'bg-primary border-primary': index <= activeStepper, 'surface-border': index > activeStepper}">
                        <i class="pi pi-building"></i>
                    </span>
                </button>
            </ng-template>
            <ng-template pTemplate="content" let-nextCallback="nextCallback">
                <form [formGroup]="formClientCompany">
                    <div class="layout-card-step">
                        <span>Vamos fazer a entrada de um novo veículo</span>
                        <p>
                            Por favor selecione a empresa em que esse veículo pertence
                        </p>
                        <div class="p-fluid p-formgrid grid">
                            <div class="col-12 flex align-items-center gap-2">
                                <p-checkbox inputId="ClientCompanyNotId" value="not" formControlName="clientCompanyNot"
                                    (click)="validationClientCompany()" />
                                <div class="checkboxDisable"> </div>
                                <label for="ClientCompanyNotId" style="color: #3B82F6;">Empresa sem cadastro!</label>
                            </div>
                            <div class="field col-12 md:col-1">
                                <label for="clientCompanyId">Codígo</label>
                                <p-inputNumber inputId="clientCompanyId" [useGrouping]="false" formControlName="clientCompanyId" />
                                <small class="p-error block" *ngIf="formClientCompany.get('clientCompanyId')?.invalid">Campo obrigatório</small>
                            </div>
                            <div class="md:col-11"></div>
                            <div class="field col-10 md:col-6">
                                <label for="clientCompanyName">Empresa</label>
                                <input pInputText id="clientCompanyName" type="text" formControlName="clientCompanyName" [style]="{'text-transform':'uppercase'}" />
                                <small class="p-error block" *ngIf="formClientCompany.get('clientCompanyName')?.invalid">Campo obrigatório</small>
                            </div>
                            <div class="field col-2 md:col-1 flex flex-column">
                                <label for="">Filtro</label>
                                <app-filterclient (outputClient)="selectClientCompany.set($event)" />
                            </div>
                            <div class="md:col-5"></div>
                            <div class="field col-12 md:col-2">
                                <label for="clientCompanyCnpj">CNPJ</label>
                                <p-inputMask id="clientCompanyCnpj" mask="99.999.999/9999-99" formControlName="clientCompanyCnpj" />
                                <small class="p-error block" *ngIf="formClientCompany.get('clientCompanyCnpj')?.invalid">Campo obrigatório</small>
                            </div>
                            <div class="field col-12 md:col-2">
                                <label for="clientCompanyCpf">CPF</label>
                                <p-inputMask id="clientCompanyCpf" mask="999.999.999-99" formControlName="clientCompanyCpf" />
                                <small class="p-error block" *ngIf="formClientCompany.get('clientCompanyCpf')?.invalid">Campo obrigatório</small>
                            </div>
                            <div class="field col-12 md:col-2">
                                <label for="clientCompanyRg">RG</label>
                                <p-inputNumber inputId="clientCompanyRg" [useGrouping]="false" formControlName="clientCompanyRg" />
                            </div>
                            <div class="md:col-6"></div>
                        </div>
                    </div>
                </form>
                <div class="flex pt-4 justify-content-end">
                    <p-button (onClick)="nextStepperClientCompany()" label="Avançar" icon="pi pi-arrow-right" iconPos="right" />
                </div>
            </ng-template>
        </p-stepperPanel>

        <p-stepperPanel>
            <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
                <button class="bg-transparent border-none inline-flex flex-column gap-2" (click)="stepperDriver()">
                    <span
                        class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                        [ngClass]="{
                            'bg-primary border-primary': index <= activeStepper,
                            'surface-border': index > activeStepper
                        }">
                        <i class="pi pi-user"></i>
                    </span>
                </button>
            </ng-template>
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">

                <form [formGroup]="formDriver">
                    <div class="layout-card-step">

                        <span>Vamos informar os dados do motorista</span>
                        <div class="p-fluid p-formgrid grid">

                            <div class="field col-12 flex align-items-center">
                                <div class="layout-photo-person">
                                    @if(driverEntryPhoto){
                                    <p-image [imageStyle]="{'border-radius':'100%','object-fit':'cover'}"
                                        src="data:image/png;base64,{{driverEntryPhoto}}" alt="imagem motorista" height="80" width="80" [preview]="true" />

                                    <button pButton severity="danger" [text]="true" label="Remover" (click)="deleteEntryPhotoDriver()"></button>
                                    }@else{
                                    <div class="layout-photo-person-label">
                                        <button pButton type="button" label="Foto" [rounded]="true" [text]="true" size="small" (click)="photoPersonDriver()"></button>
                                    </div>
                                    }
                                </div>
                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="driverEntryName">Nome</label>
                                <input pInputText id="driverEntryName" type="text" formControlName="driverEntryName" [style]="{'text-transform':'capitalize'}">
                                <small class="p-error block" *ngIf="formDriver.get('driverEntryName')?.invalid">Campo obrigatório</small>
                            </div>
                            <div class="md:col-6"></div>
                            <div class="field col-12 md:col-2">
                                <label for="driverEntryCpf">CPF</label>
                                <p-inputMask id="driverEntryCpf" mask="999.999.999-99" unmask="true" formControlName="driverEntryCpf" />
                                <small class="p-error block" *ngIf="formDriver.get('driverEntryCpf')?.invalid">Campo obrigatório CPF ou RG</small>
                            </div>

                            <div class="field col-12 md:col-2">
                                <label for="driverEntryRg">RG</label>
                                <p-inputNumber id="clientCompanyRg" mode="decimal" [useGrouping]="false" formControlName="driverEntryRg" />
                                <small class="p-error block" *ngIf="formDriver.get('driverEntryRg')?.invalid">Campo obrigatório CPF ou RG</small>
                            </div>
                            <div class="md:col-8"></div>

                            <div class="field col-12 md:col-6 flex align-items-center gap-2">
                                <div class="layout-file">
                                    <div class="layout-file-img">
                                        @if(driverEntryPhotoDoc1){
                                        <p-image src="data:image/png;base64,{{driverEntryPhotoDoc1}}" alt="" height="80"
                                            width="80" [preview]="true" />
                                        }
                                    </div>
                                    @if(driverEntryPhotoDoc1){
                                    <button pButton icon="pi pi-trash" severity="danger"
                                        (click)="deleteEntryFileDriver1()"></button>
                                    }@else {
                                    <button pButton type="button" label="Foto Arquivo" severity="secondary"
                                        (click)="photoFile1Driver()"></button>
                                    }
                                </div>
                                <div class="layout-file">
                                    <div class="layout-file-img">
                                        @if(driverEntryPhotoDoc2){
                                        <p-image src="data:image/png;base64,{{driverEntryPhotoDoc2}}" alt="" height="80"
                                            width="80" [preview]="true" />
                                        }
                                    </div>
                                    @if(driverEntryPhotoDoc2){
                                    <button pButton icon="pi pi-trash" severity="danger"
                                        (click)="deleteEntryFileDriver2()"></button>
                                    }@else {
                                    <button pButton type="button" label="Foto Arquivo" severity="secondary"
                                        (click)="photoFile2Driver()"></button>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

                <div class="flex pt-4 justify-content-between">
                    <p-button (onClick)="prevCallback.emit()" label="Voltar" severity="secondary"
                        icon="pi pi-arrow-left" />
                    <p-button (onClick)="nextSterpperDriver()" label="Avançar" icon="pi pi-arrow-right"
                        iconPos="right" />
                </div>
            </ng-template>
        </p-stepperPanel>

        <p-stepperPanel>
            <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
                <button class="bg-transparent border-none inline-flex flex-column gap-2" (click)="stepperVehicle()">
                    <span
                        class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                        [ngClass]="{
                            'bg-primary border-primary': index <= activeStepper,
                            'surface-border': index > activeStepper
                        }">
                        <i class="pi pi-car"></i>
                    </span>
                </button>
            </ng-template>
            <ng-template pTemplate="content" let-prevCallback="prevCallback">
                <form [formGroup]="formVehicle">
                    <div class="layout-card-step">

                        <span>Vamos informar agora os dados do veículo</span>
                        <div class="p-fluid p-formgrid grid">

                            <div class="field col-12 md:col-1">
                                <label for="placa">Placa</label>
                                <p-inputMask id="placa" mask="***-****" [unmask]="true"
                                    [style]="{'text-transform':'uppercase'}" formControlName="placa" />
                                <small class="p-error block" *ngIf="formVehicle.get('placa')?.invalid">
                                    Campo obrigatório</small>
                            </div>

                            <div class="field col-12 md:col-1">
                                <label for="frota">Frota</label>
                                <input pInputText id="frota" type="text" [style]="{'text-transform':'uppercase'}"
                                    formControlName="frota">
                            </div>

                            <div class="field col-12 md:col-2">
                                <label for="vehiclemodelid">Modelos</label>
                                <p-multiSelect [options]="vehicleModels$ | async" 
                                    display="chip" 
                                    [selectionLimit]="1"
                                    placeholder="Selecione" 
                                    optionLabel="description"
                                    formControlName="modelVehicle">
                                    <ng-template let-value pTemplate="selectedItems">
                                        <div class="inline-flex align-items-center gap-2"
                                            *ngFor="let model of value">
                                            @if(model.photo){
                                                <p-image [src]="'data:image/png;base64,'+model.photo" alt="" height="22"
                                                width="22" [preview]="false" />
                                            }
                                            <div style="margin: 0.42rem;">{{ model.description }}</div>
                                        </div>
                                        <div *ngIf="!value || value.length === 0">Selecione</div>
                                    </ng-template>
                                    <ng-template let-model pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            @if(model.photo){
                                                <p-image [src]="'data:image/png;base64,'+model.photo" alt="" height="18"
                                                width="18" [preview]="false" />
                                            }
                                            <div>{{ model.description }}</div>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                                <small class="p-error block" *ngIf="formVehicle.get('modelVehicle')?.invalid">
                                    Campo obrigatório</small>
                            </div>

                            <div class="field col-12 md:col-2 ">
                                <label for="dateEntry">Data Entrada</label>
                                <p-calendar [iconDisplay]="'input'" 
                                [showIcon]="true" 
                                [showTime]="true"
                                    dateFormat="dd/mm/yy" 
                                    inputId="dateEntry" 
                                    formControlName="dateEntry" />
                                <small class="p-error block" *ngIf="formVehicle.get('dateEntry')?.invalid">
                                    Campo obrigatório</small>
                            </div>

                            <div class="field col-12 md:col-2 ">
                                <label for="datePrevisionExit">Previsão saída</label>
                                <p-calendar [iconDisplay]="'input'" [showIcon]="true" [showTime]="true"
                                    dateFormat="dd/mm/yy" inputId="datePrevisionExit"
                                    formControlName="datePrevisionExit" />
                            </div>
                            <div class="field col-12 md:col-2">
                                <label for="vehiclecolorid">Cor</label>
                                <p-multiSelect id="vehiclecolorid" [options]="cores" optionLabel="color" display="chip"
                                    [selectionLimit]="1" placeholder="Selecione" formControlName="color" />
                                <small class="p-error block" *ngIf="formVehicle.get('color')?.invalid">
                                    Campo obrigatório</small>
                            </div>

                            <div class="field col-12 md:col-2">
                                <label for="kmatual">KM Atual</label>
                                <p-inputNumber inputId="kmatual" [useGrouping]="false" formControlName="kmEntry" />
                            </div>

                            <div class="field col-12 md:col-2">
                                <label for="coneid">Cone</label>
                                <p-inputNumber inputId="coneid" [useGrouping]="false"
                                    formControlName="quantityTrafficCone" />
                            </div>
                            <div class="field col-12 md:col-2">
                                <label for="extintorid">Extintor</label>
                                <p-inputNumber inputId="extintorid" [useGrouping]="false"
                                    formControlName="quantityExtinguisher" />
                            </div>
                            <div class="field col-12 md:col-2">
                                <label for="pneuid">Pneu</label>
                                <p-inputNumber inputId="pneuid" [useGrouping]="false" formControlName="quantityTire" />
                            </div>
                            <div class="field col-12 md:col-2">
                                <label for="pneurodaid">Pneu c/roda</label>
                                <p-inputNumber inputId="pneurodaid" [useGrouping]="false"
                                    formControlName="quantityTireComplete" />
                            </div>
                            <div class="field col-12 md:col-2">
                                <label for="cxferramentaid">Cx ferramenta</label>
                                <p-inputNumber inputId="cxferramentaid" [useGrouping]="false"
                                    formControlName="quantityToolBox" />
                            </div>

                            <div class="field col-12 md:col-2">
                                <label for="consultorid">Consultor</label>
                                <p-multiSelect id="consultorid" [options]="consultores$ | async" [selectionLimit]="1"
                                    optionLabel="name" display="chip" placeholder="Selecione"
                                    formControlName="UserAttendant" />
                            </div>

                            <div class="field col-12 lg:col-6 md:col-12 flex align-items-center gap-2">
                                <div class="layout-file">
                                    <div class="layout-file-img">
                                        @if(photoVehicle1){
                                        <p-image src="data:image/png;base64,{{photoVehicle1}}" alt=""
                                            [preview]="true" />

                                        }
                                    </div>
                                    @if(photoVehicle1){
                                    <button pButton icon="pi pi-trash" severity="danger"
                                        (click)="deleteFileVehicle1()"></button>
                                    }@else {
                                    <button pButton type="button" label="Foto Arquivo" severity="secondary"
                                        (click)="photoFile1Vehicle()"></button>
                                    }
                                </div>
                                <div class="layout-file">
                                    <div class="layout-file-img">
                                        @if(photoVehicle2){
                                        <p-image src="data:image/png;base64,{{photoVehicle2}}" alt="" height="80"
                                            width="80" [preview]="true" />
                                        }

                                    </div>
                                    @if(photoVehicle2){
                                    <button pButton icon="pi pi-trash" severity="danger"
                                        (click)="deleteFileVehicle2()"></button>
                                    }@else {
                                    <button pButton type="button" label="Foto Arquivo" severity="secondary"
                                        (click)="photoFile2Vehicle()"></button>
                                    }
                                </div>
                                <div class="layout-file">
                                    <div class="layout-file-img">
                                        @if(photoVehicle3){
                                        <p-image src="data:image/png;base64,{{photoVehicle3}}" alt="" height="80"
                                            width="80" [preview]="true" />
                                        }
                                    </div>
                                    @if(photoVehicle3){
                                    <button pButton icon="pi pi-trash" severity="danger"
                                        (click)="deleteFileVehicle3()"></button>
                                    }@else {
                                    <button pButton type="button" label="Foto Arquivo" severity="secondary"
                                        (click)="photoFile3Vehicle()"></button>
                                    }
                                </div>
                                <div class="layout-file">
                                    <div class="layout-file-img">
                                        @if(photoVehicle4){
                                        <p-image src="data:image/png;base64,{{photoVehicle4}}" alt="" height="80"
                                            width="80" [preview]="true" />
                                        }
                                    </div>
                                    @if(photoVehicle4){
                                    <button pButton icon="pi pi-trash" severity="danger"
                                        (click)="deleteFileVehicle4()"></button>
                                    }@else {
                                    <button pButton type="button" label="Foto Arquivo" severity="secondary"
                                        (click)="photoFile4Vehicle()"></button>
                                    }
                                </div>
                            </div>

                            <div class="field col-12 lg:col-3 md:col-12">
                                <div class="layout-card-option">
                                    <div class="layout-card-option-title">Veículo novo</div>
                                    <div class="flex align-items-center">
                                        <p-radioButton inputId="newyes" value="yes" formControlName="vehicleNew"
                                            (onClick)="deleteRequirePlaca()"></p-radioButton>
                                        <div class="checkboxDisable"> </div>
                                        <label for="newyes" class="ml-2">Sim</label>
                                    </div>
                                    <div class="flex align-items-center">
                                        <p-radioButton inputId="newnot" value="not" formControlName="vehicleNew"
                                            (onClick)="addRequirePlaca()"></p-radioButton>
                                        <div class="checkboxDisable"> </div>
                                        <label for="newnot" class="ml-2">Não</label>
                                    </div>
                                </div>
                            </div>

                            <div class="field col-12 lg:col-3 md:col-12">
                                <div class="layout-card-option">
                                    <div class="layout-card-option-title">Ordem serviço</div>
                                    <div class="flex align-items-center">
                                        <p-radioButton inputId="serviceyes" value="yes"
                                            formControlName="serviceOrder"></p-radioButton>
                                        <div class="checkboxDisable"> </div>
                                        <label for="serviceyes" class="ml-2">Sim</label>
                                    </div>
                                    <div class="flex align-items-center">
                                        <p-radioButton inputId="serviceno" value="not"
                                            formControlName="serviceOrder"></p-radioButton>
                                        <div class="checkboxDisable"> </div>
                                        <label for="serviceno" class="ml-2">Não</label>
                                    </div>
                                </div>
                            </div>

                            <div class="field col-12">
                                <label for="informacao" class="ml-2">Informações</label>
                                <textarea pInputTextarea id="informacao" rows="5" cols="30"
                                    formControlName="informationConcierge"></textarea>
                            </div>

                        </div>
                    </div>
                </form>
                <div class="flex pt-4 justify-content-start gap-2">
                    <button pButton (click)="prevCallback.emit()" label="Voltar" severity="secondary"
                        icon="pi pi-arrow-left"></button>
                    <button pButton icon="pi pi-plus" label="Adicionar " [outlined]="true"
                        (click)="addVehicleEntry()"></button>
                </div>
            </ng-template>

        </p-stepperPanel>
    </p-stepper>
</div>

<!-- Dialog Veículos -->
<p-dialog header="Veículos" [(visible)]="dialogVehicleVisible" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <p-table [value]="listVehicleEntry">

        <ng-template pTemplate="header">
            <tr>
                <th>Placa</th>
                <th>Frota</th>
                <th>Modelo</th>
                <th>Consultor</th>
                <th>Empresa</th>
                <th>Remover</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vehicle let-index="rowIndex">
            <tr>
                <td>
                    @if (vehicle.vehicleNew == "yes") {
                    <p-tag value="NOVO" severity="danger"></p-tag>
                    }@else{
                    <span class="text-500">{{vehicle.placa | uppercase}}</span>
                    }
                </td>
                <td><span class="text-500">{{vehicle.frota | uppercase}}</span></td>
                <td><span class="text-500">{{vehicle.modelDescription | uppercase}}</span></td>

                @if(vehicle.nameUserAttendant == ""){
                <td><p-tag value="FALTA" severity="danger"></p-tag></td>
                }@else {
                <td><span class="text-500">{{vehicle.nameUserAttendant | uppercase}}</span></td>
                }
                @if(vehicle.clientCompanyName ==""){
                <td> <p-tag value="FALTA" severity="danger"></p-tag> </td>
                }@else {
                <td><span class="text-500">{{ vehicle.clientCompanyName | uppercase }}</span></td>
                }
                <td>
                    <button pButton [text]="true" icon="pi pi-trash" severity="danger"
                        (click)="deleteVehicleEntry(index)"></button>
                </td>
            </tr>

        </ng-template>


    </p-table>
    <div class="flex justify-content-end mt-3">

        <button pButton type="submit" pRipple label="Finalizar" icon="pi pi-check" class="p-button-text"
            (click)="saveVehicleEntry()"></button>
    </div>
</p-dialog>
