:host {
    .layout-card-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        span {
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--color-grey-800);
        }
    }

    .layout-button-alert {
        height: 42px;

        >p-badge {
            position: absolute;
            right: 50px;
        }
    }

    .checkboxDisable {
        position: absolute;
        width: 24px;
        height: 24px;
    }

    .layout-card-step {
        min-height: 40rem;

        span {
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--color-grey-700);
        }
    }

    .layout-button-action {
        display: flex;
        width: 100%;
        gap: 8px;
    }

    .layout-photo-person {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: var(--color-grey-300);
        border-radius: 100%;

        .layout-photo-person-label {
            display: flex;
            align-items: center;
            width: 80px;
            height: 80px;
        }

    }

    ::ng-deep {
        .p-button.p-button-icon-only {
            padding: 0.5rem 0;
             margin-right: 15px; 
        }

        .p-image-preview-container>img {
            width: 80px;
            height: 80px;
        }
    }

    .layout-file {
        display: flex;
        flex-direction: column;
        background-color: var(--color-grey-300);
        justify-content: center;
        align-items: center;
        border-radius: 8px;

        .layout-file-img {
            width: 80px;
            height: 80px;
        }

        button {
            width: 100px;
            padding: 10px 0;
            border-radius: 0 0 8px 8px;
        }
    }

    .layout-card-option {
        display: flex;
        flex-direction: column;
        height: 119px;
        width: 100%;
        padding: 0.5rem 2rem 2rem 2rem;
        border-radius: 8px;
        border: 1px solid var(--color-grey-300);
        gap: 8px;

        .layout-card-option-title {
            font-weight: 400px;

        }
    }

    .layout-card-option-type {
        display: flex;
        height: 100px;
        width: 100%;
        padding: 0.5rem 2rem 2rem 0rem;
        gap: 8px;

        .layout-card-option-title {
            font-weight: 400px;

        }
    }

    @media (max-width: 991px) {

        .layout-card-option-type {
            height: 22px;
        }

        .layout-card-driver {
            height: 42rem;
        }

        .layout-card-vehicle {
            height: 124rem;
        }

        ::ng-deep .p-image-preview-container>img {
            width: 68px;
            height: 68px;
            object-fit: cover;
        }

        .layout-file {
            .layout-file-img {
                width: 68px;
                height: 68px;

            }

            label {
                padding: 5px 0px;
                width: 68px;
                background-color: #64748b;
                color: #FFF;
                text-align: center;
                display: block;
                border-radius: 0 0 8px 8px;
                border: 1px solid var(--color-grey-300);
                cursor: pointer;
            }

            button {
                width: 76px;
                padding: 10px 0;
                border-radius: 0 0 8px 8px;
            }
        }
    }







}