:host {

    .layout-card-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        span {
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--color-grey-800);
        }
    }

    .card {
        padding: 1rem !important;
        margin-bottom: 0px !important;
    }

    .btn-action {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        gap: 8px;
    }

    .mobile-anabled {
        display: none;
    }

    ::ng-deep {

        .p-inputgroup .p-inputtext,
        .p-fluid .p-inputgroup .p-inputtext,
        .p-inputgroup .p-inputwrapper,
        .p-inputgroup .p-inputwrapper>.p-component {
            flex: 1 1 auto;
            width: 100%;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 375px) and (max-width: 667px) {
        .mobile-disabled {
            display: none !important;
        }

        .mobile-anabled {
            display: block;
        }

        .btn-action {
            flex-direction: column;
        }
    }
}