:host {

    .mobile-visible-none {
        display: block;
    }

    .mobile-visible {
        display: none;
    }

    .layout-card-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        span {
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--color-grey-800);
        }
    }

    .card {
        padding: 1rem !important;
        margin-bottom: 0px !important;
    }

    ::ng-deep {

        .p-inputgroup .p-inputtext,
        .p-fluid .p-inputgroup .p-inputtext,
        .p-inputgroup .p-inputwrapper,
        .p-inputgroup .p-inputwrapper>.p-component {
            flex: 1 1 auto;
            width: 100%;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }

    @media (max-width: 991px) {

        .mobile-visible-none {
            display: none !important;
        }

        .mobile-visible {
            display: block;
        }

        .layout-status-budget {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .layout-number {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                background-color: #3B82F6;
                border: 1px solid #f3f4f6;
                border-radius: 100%;

                span {
                    color: #fff;
                    font-weight: 300;

                }
            }

            span {
                color: #4b5563;
                font-weight: 700;
                font-size: 1.25rem;
            }
        }

    }
}