:host {
    .layout-input-disabled {
        display: flex;
        min-height: 40px;
        font-size: 1rem;
        padding: 0.75rem;
        border-radius: 6px;
        border: 1px solid var(--color-grey-300);
    }

    .layout-card-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        span {
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 400;
            color: #64748b;
            padding-left: 1.5rem;
        }

        .layourt-button-back {
            display: flex;
            align-items: center;
            height: 29px;
            padding-right: 1.5rem;
        }

    }

    .card {
        padding: 1rem !important;
        margin-bottom: 0px !important;
    }

    ::ng-deep {
        .p-button.p-button-secondary-custom {
            color: #475569;
            background-color: #f1f5f9;
            border: 1px solid #f1f5f9
        }
        .p-button.p-button-secondary-custom:hover {
            background-color: #e9ecee;
            border: 1px solid #e9ecee
        }
        .p-button.p-button-success-custom {
            color: #475569;
            background-color: #acf3aa;
            border: 1px solid #acf3aa
        }
        .p-button.p-button-success-custom:hover {
            background-color: #a0f19e;
            border: 1px solid #a0f19e
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 375px) and (max-width: 667px) {
        .mobile-disabled {
            display: none;

        }
    }
}