<p-button label="Peças" text="true" (onClick)="showDialogParts()" severity="warning" icon="pi pi-filter"/>

<p-dialog [(visible)]="visibleParts" header="Peças" [modal]="true" [maximizable]="true" [draggable]="false" [resizable]="false"
    [style]="{ width: '70rem'}" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <div style="min-height: 42rem;">
        <form [formGroup]="formFilterParts" (submit)="filterParts()">
            <div class="grid p-fluid p-formgrid">
                <div class="col-12 md:col-3">
                    <span>Código</span>
                    <input pInputText id="idCode" type="text" formControlName="filterCode" />
                </div>
                <div class="col-12 md:col-9">
                    <span>Descrição</span>
                    <p-inputGroup>
                        <input id="Iddescription" type="text" pInputText formControlName="filterDesc"/>
                        <button  pButton type="submit" icon="pi pi-search" class="p-button-warning"></button>
                    </p-inputGroup>
                </div>
            </div>
        </form>
        <form [formGroup]="formSelectPart">
            <div class="p-formgrid p-fluid grid">
                <div class="col-12 md:col-6">
                    <span>Descrição</span>
                    <input id="Iddescription" type="text" pInputText formControlName="selecDesc" />
                </div>
                <div class="col-12 md:col-2">
                    <span>Quantidade</span>
                    <p-inputNumber mode="decimal" [minFractionDigits]="2" formControlName="selecQtdAvailable" />
                    <small class="p-error block" *ngIf="formSelectPart.get('selecQtdAvailable')?.invalid || requiredFiel">Campo obrigatório</small>
                </div>
                <div class="col-12 md:col-2">
                    <span>Preço</span>
                    <p-inputNumber mode="currency" currency="BRL" locale="pt-BR" formControlName="selecPrice" />
                </div>
                <div class="col-12 md:col-2">
                    <span>Desconto</span>
                    <p-inputNumber mode="currency" currency="BRL" locale="pt-BR" formControlName="selecDiscount" />
                </div>
            </div>
        </form>
        <div class="flex justify-content-between mb-2 w-full">
            <button pButton type="button" label="Confirmar" icon="pi pi-check" [raised]="true" size="small" [disabled]="partsDisabledButton" (click)="selectPartsConfirme()"></button>
            <button pButton type="button" label="Limpar" [text]="true" icon="pi pi-trash" size="small" severity="danger" (click)="clearAll()"></button>
        </div>
        <p-table dataKey="id" [value]="listParts" (onRowSelect)="onSelectEventParts($event)"
            (onRowUnselect)="onUnSelectEventParts($event)" selectionMode="single" [(selection)]="selectedParts"
            [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" 
            [tableStyle]="{ 'min-width': '50rem','min-height': '20rem' }" styleClass="p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                    <th tyle="width: 10rem;">Código</th>
                    <th tyle="width: 40rem;">Descrição</th>
                    <th tyle="width: 10rem;">Quantidade</th>
                    <th tyle="width: 10rem;">Unidade</th>
                    <th tyle="width: 10rem;">Preço</th>
                    <th tyle="width: 20rem;">Locação</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-parts>
                <tr [pSelectableRow]="parts">
                    <td>{{parts.code}}</td>
                    <td>{{parts.description}}</td>
                    <td>{{parts.qtdAvailable}}</td>
                    <td>{{parts.unitMeasure}}</td>
                    <td>{{parts.price | currency }}</td>
                    <td>{{parts.locationStreet +"-"+parts.locationBookcase+"-"+parts.locationShelf}}</td>
                </tr>

            </ng-template>
        </p-table>
    </div>
    <div class="flex justify-content-end mt-2">
        <button pButton type="button" pRipple label="Fechar" icon="pi pi-times" class="p-button-text" (click)="hideDialogParts()"></button>
    </div>
</p-dialog>