 <!-- Toast -->
<p-toast />

<p-button label="Peças" text="true" (onClick)="showDialogParts()" severity="warning" icon="pi pi-filter"/>

<p-dialog [(visible)]="visibleParts" header="Peças" 
    [modal]="true" [maximizable]="true" [draggable]="false" [resizable]="false"
    [style]="{ width: '70rem','height': '50rem'}" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">       
    <form [formGroup]="formFilterParts" (submit)="filterPart()">
        <div class="grid p-fluid p-formgrid">
            <div class="col-12 md:col-3">
                <span>Código</span>
                <input pInputText id="idCode" type="text" formControlName="filterCode" />
            </div>
            <div class="col-12 md:col-9">
                <span>Descrição</span>
                <p-inputGroup>
                    <input id="Iddescription" type="text" pInputText formControlName="filterDesc"/>
                    <button  pButton type="submit" icon="pi pi-search" class="p-button-warning" label="Pesquisar"></button>
                </p-inputGroup>
            </div>
        </div>
    </form>
    <!-- <form [formGroup]="formSelectPart">
        <div class="p-formgrid p-fluid grid">
            <div class="col-12 md:col-6">
                <span>Descrição</span>
                <input id="Iddescription" type="text" pInputText formControlName="selecDesc" />
            </div>
            <div class="col-12 md:col-2">
                <span>Quantidade</span>
                <p-inputNumber mode="decimal" [minFractionDigits]="2" formControlName="selecQtdAvailable" />
                <small class="p-error block" *ngIf="formSelectPart.get('selecQtdAvailable')?.invalid || requiredFiel">Campo obrigatório</small>
            </div>
            <div class="col-12 md:col-2">
                <span>Preço</span>
                <p-inputNumber mode="currency" currency="BRL" locale="pt-BR" formControlName="selecPrice" />
            </div>
            <div class="col-12 md:col-2">
                <span>Desconto</span>
                <p-inputNumber mode="currency" currency="BRL" locale="pt-BR" formControlName="selecDiscount" />
            </div>
        </div>
    </form> -->
    <p-table dataKey="id" [value]="listParts" (onRowSelect)="onSelectEventParts($event)"
        (onRowUnselect)="onUnSelectEventParts($event)" selectionMode="single" [(selection)]="selectedPart" 
        [tableStyle]="{ 'min-width': '50rem','min-height': '20rem' }" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Unidade</th>
                <th>Preço</th>
                <th>Locação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-parts>
            <tr [pSelectableRow]="parts">
                <td>{{parts.code}}</td>
                <td>{{parts.description | uppercase}}</td>
                <td>{{parts.qtdAvailable}}</td>
                <td>{{parts.unitMeasure}}</td>
                <td>{{parts.price | currency }}</td>
                <td></td>
            </tr>

        </ng-template>
    </p-table>
    <div class="flex justify-content-center gap-2 mt-2 mb-2 w-full">
        <button pButton type="button" label="Selecionar" icon="pi pi-arrow-down" [raised]="true" size="small" [disabled]="disabledButtonSelected" (click)="selectPartsConfirme()"></button>
        <button pButton type="button" label="Remover" icon="pi pi-arrow-up" [raised]="true" size="small" [disabled]="disabledButtonDelete"></button>
        <!-- <button pButton type="button" label="Remover" icon="pi pi-arrow-top" size="small" severity="danger" (click)="clearAll()"></button> -->
    </div> 
    <p-table dataKey="id" [value]="listPartsSelected" (onRowSelect)="onSelectEventParts($event)"
        (onRowUnselect)="onUnSelectEventParts($event)" selectionMode="single" [(selection)]="deleteSelectPart"
        [tableStyle]="{ 'min-width': '50rem','min-height': '20rem' }" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Unidade</th>
                <th>Preço</th>
                <th>Locação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-parts>
            <tr [pSelectableRow]="parts">
                <td>{{parts.code}}</td>
                <td>{{parts.description}}</td>
                <td>{{parts.qtdAvailable}}</td>
                <td>{{parts.unitMeasure}}</td>
                <td>{{parts.price | currency }}</td>
                <td>{{parts.locationStreet +"-"+parts.locationBookcase+"-"+parts.locationShelf}}</td>
            </tr>

        </ng-template>
    </p-table>
    <div class="flex justify-content-end mt-2">
        <button pButton type="button" pRipple label="Fechar" icon="pi pi-times" class="p-button-text" (click)="hideDialogParts()"></button>
    </div>
</p-dialog>