<div class="layout-card">

    <div class="layout-card-title">
        <span>Equipamentos</span>
        <div class="flex gap-2">
            <p-button icon="pi pi-plus" [text]="true" label="Pegar" />
            <p-button icon="pi pi-reply" [text]="true" label="Devolver" />
        </div>

    </div>
    <p-table #dt dataKey="id" [value]="" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Cadastros"
        [globalFilterFields]="['id', 'fantasia', 'name', 'cnpj', 'cpf']" [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" styleClass="p-datatable-sm">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between">
                <p-iconField iconPosition="left">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Pesquisar" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="font-normal">Status</th>
                <th class="font-normal">Descrição</th>
                <th class="font-normal">Quant.</th>
                <th class="font-normal">Data</th>
                <th class="font-normal">Categoria</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body">

        </ng-template>
    </p-table>
</div>