<p-toast />
<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
                <i class="pi pi-sign-out text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">
                {{ message.header }}
            </span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex align-items-center gap-2 mt-4">
                <button pButton label="Confirmar" (click)="cd.accept()" class="w-8rem">
                </button>
                <button pButton label="Cancelar" (click)="cd.reject()" class="p-button-outlined w-8rem ">
                </button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>

<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Atendimento</span>
                    <div class="text-900 font-medium text-xl">{{qtdVehicleEntry()}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-car text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">Veículos </span>
            <span class="text-500">em atendimento</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Saída autorizada</span>
                    <div class="text-900 font-medium text-xl">{{qtdVehicleExit()}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-sign-out text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">Veículos </span>
            <span class="text-500">com saída autorizada</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Orçamento</span>
                    <div class="text-900 font-medium text-xl">{{qtdVehicleBudgetWith()}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-verified text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">Orçamentos </span>
            <span class="text-500">gerados</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Orçamento</span>
                    <div class="text-900 font-medium text-xl">{{qtdVehicleBudgetWithout()}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-bookmark     text-purple-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">Orçamentos </span>
            <span class="text-500">Pedentes</span>
        </div>
    </div>
</div>