:host {
    .print-table {
        font-size: small;
        border-collapse: collapse;
        width: 100%;
    }

    .print-table th {
        font-weight: 400;
        text-align: left;
        font-size: small;
    }

    .print-table td {
        font-weight: 400;
        text-align: left;
        font-size: small;
    }

    .print-divider {
        border-bottom: 1px solid #0f0f0f;
        margin: 10px 0;
    }
}