:host {
    .print-table {
        border-collapse: collapse;
    }

    .print-table th,
    .print-table td {
        font-weight: 400;
        text-align: left;
    }

    .print-table th {
        text-align: start;
        background-color: rgb(224, 223, 228);
    }

    .text-small {
        font-size: 10px;
    }

    .text-normal {
       /*  font-size: 12px; */
        font-weight: 700;
        color: var(--color-grey-700);
    }
}