<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/dashboard">
        <img src="assets/layout/images/logo-light.png" alt="logo">
        <span class="font-bold text-xl text-blue-500">ATENATRUCK</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':layoutService.state.profileSidebarVisible}">
        <app-notification/>
        <button class="p-link layout-topbar-button" (click)="showSideBarRight()">
            <i class="pi pi-align-right"></i>
             <label>Configuração</label>
        </button>
    </div>

</div>

<p-sidebar #sidebarRef [(visible)]="visibleSideBarRight" position="right" styleClass="w-20rem">
    <ng-template pTemplate="headless">
        <div class="layout-sidebar-header">
            <div class="layout-sidebar-header-close">
                <p-button type="button" (click)="closeSideBarCallback($event)" icon="pi pi-times" [rounded]="true" [text]="true" size="large" severity="secondary"></p-button>
            </div>
            <div class="flex flex-row gap-2 mt-5">
                <div class="layout-side-header-photo">
                    @if(showUserPhoto){
                    <p-image [imageStyle]="{'border-radius':'100%','object-fit':'cover'}" src="data:image/png;base64,{{showUserPhoto}}" alt="imagem usuário" height="56" width="56" />
                    }@else {
                    <p-avatar [label]="firstLetter" size="xlarge" shape="circle" [style]="{ 'background-color': '#dee9fc' }"></p-avatar>
                    }
                </div>
                <div class="flex flex-column gap-2">
                    <span class="font-semibold text-xl text-black-alpha-60">Olá, {{showUserName | titlecase}}</span>
                    <span class="text-xl text-black-alpha-60">{{userRoleDescription | titlecase}}</span>
                </div>
            </div>
        </div>
        <div class="layout-sidebar-content">

            <app-userprofile (outputUser)="updateUser.set($event)"/>

            <a class="layout-sidebar-content-card">
                <i class="pi pi-cog"></i>
                <div class="layout-sidebar-content-card-item">
                    <span class="sidebar-content-card-item-title">Configuração</span>
                    <span>Informações do sistema</span>
                </div>
            </a>
            
            <div class="border-top-1 border-200 m-4"></div>
            
            <a class="layout-sidebar-content-card" (click)="closeSession()">
                <i class="pi pi-sign-out"></i>
                <div class="layout-sidebar-content-card-item">
                    <span class="sidebar-content-card-item-title">Sair</span>
                    <span>Encerrar a sessão</span>
                </div>
            </a>
        </div>
    </ng-template>
</p-sidebar>