:host {

    .layout-input-disabled {
        display: flex;
        font-size: 1rem;
        padding: 0.75rem;
        border-radius: 6px;
        border: 1px solid var(--color-grey-300);

    }

    .layout-sidebar-header {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem 0rem 2rem;


        .layout-sidebar-header-close {
            display: flex;
            justify-content: end;
            align-items: center;
        }

    }

    .layout-sidebar-content {
        display: flex;
        flex-direction: column;
        padding: 3rem 1rem 0rem 1rem;
        gap: 18px;

        >a {
            text-decoration: none;
            color: var(--color-grey-700);
        }

        >a:hover {
            background-color: var(--color-grey-100);
        }

        .layout-sidebar-content-card {
            display: flex;
            align-items: center;
            border-radius: 8px;
            border: 1px solid var(--color-grey-300);
            cursor: pointer;
            padding: 1.5rem 1rem;
            gap: 18px;

            >i {
                font-size: 1.5rem;
                /* color: var(--color-primary); */
            }

            .layout-sidebar-content-card-item {
                display: flex;
                flex-direction: column;
                gap: 6px;

                .sidebar-content-card-item-title {
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }

        .layout-notification {
            margin-top: 44px;
            display: flex;
            flex-direction: column;
            gap: 18px;

            .layout-notification-title {
                font-size: 16px;
                color: var(--color-grey-700);
                font-weight: 700;

            }

            .layout-notification-message {
                font-size: 16px;
                color: var(--color-grey-700);
                
            }
        }

    }

    .layout-photo-person {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: var(--color-grey-300);
        border-radius: 100%;

        button {
            width: 100px;
            padding: 10px 0px;
            border-radius: 0 0px 8px 8px;
        }

        .layout-photo-person-label {
            display: flex;
            align-items: center;
            width: 80px;
            height: 80px;

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0px;
                width: 100%;
                height: 100%;
                color: #3B82F6;
                cursor: pointer;
            }

            input[type="file"] {
                display: none;
            }
        }


    }

    .layout-card-option {
        display: flex;
        flex-direction: column;
        height: 119px;
        width: 100%;
        padding: 0.5rem 2rem 2rem 2rem;
        border-radius: 8px;
        border: 1px solid var(--color-grey-300);
        gap: 8px;

        .layout-card-option-title {
            font-weight: 400px;

        }
    }

}