<div class="login-container">
  <p-toast/>
  <div class="card-login">
    <div class="card-login-title">
      <span>Conecte-se</span>
    </div>
    <P class="mt-2 mb-4">Faça login em sua conta</P>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="grid p-fluid p-formgrid">
        <div class="field col-12">
          <p-floatLabel>
            <input id="emailid" type="text" pInputText formControlName="email" />
            <label for="emailid">Digite seu email</label>
          </p-floatLabel>
        </div>
        <div class="field col-12">
          <p-floatLabel>
            <p-password id="idsenha" [toggleMask]="true" [feedback]="false" formControlName="password" />
            <label for="idsenha">Digite sua senha</label>
          </p-floatLabel>
        </div>

      </div>
      <div class="card-login-button">
        <div class="card-login-button-submit">
          <button pButton type="submit" label="Entrar"></button>
        </div>
        <div class="card-login-button-esqueceu">
          <button pButton type="button" label="Esqueceu sua senha?" [text]="true" (click)="forgetPass()"></button>
        </div>
      </div>
    </form>
  </div>

  <div class="card-login-info">
    <div class="info-tile">
      <span>Bem vindo!</span>
    </div>
    <p>Sua oficina perto de você.</p>
  </div>
</div>