:host {
    .layout-card-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        span {
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--color-grey-800);
        }
    }

    .layout-photo-person {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
        height: 100px;
        background-color: var(--color-grey-300);
        border-radius: 100%;

        .layout-photo-person-label {
            display: flex;
            align-items: center;
            width: 100px;
            height: 100px;

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0px;
                width: 100%;
                height: 100%;
                color: #3B82F6;
                cursor: pointer;
            }

            input[type="file"] {
                display: none;
            }
        }
    }

    .layout-file {
        display: flex;
        flex-direction: column;
        background-color: var(--color-grey-300);
        justify-content: center;
        align-items: center;
        border-radius: 8px;

        .layout-file-img {
            width: 60px;
            height: 60px;
        }

        button {
            width: 60px;
            padding: 10px 0px;
            border-radius: 0 0px 8px 8px;
        }
    }

    ::ng-deep {
                
        .p-inputgroup .p-inputtext,
        .p-fluid .p-inputgroup .p-inputtext,
        .p-inputgroup .p-inputwrapper,
        .p-inputgroup .p-inputwrapper>.p-component {
            flex: 1 1 auto;
            width: 100%;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        
    }


}