<div class="layout-card">
    <!-- Info -->
    <p-toast />
    <div class="layout-card-title">
        <span>Motorista</span>
        <p-button icon="pi pi-plus" [text]="true" label="Motorista" (onClick)="newDriver()" />
    </div>
    <p-table #dt1 dataKey="id" [value]="listDriver" [rowHover]="true" 
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}" [showCurrentPageReport]="true"
        [globalFilterFields]="['id', 'status', 'name', 'cpf', 'rg']" 
        [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" 
        [tableStyle]="{ 'min-width': '80rem' }"  styleClass="p-datatable-sm">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between">
                <p-iconField iconPosition="left">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" style="width:10%">
                    Código <p-sortIcon field="id" />
                </th>
                <th pSortableColumn="status" style="width:10%">
                   Status <p-sortIcon field="status" />
                </th>
                <th pSortableColumn="name" style="width:50%">
                    Nome <p-sortIcon field="name" />
                </th>
                <th pSortableColumn="cpf" style="width:10%">
                    CPF <p-sortIcon field="cpf" />
                </th>
                <th pSortableColumn="rg" style="width:10%">
                    RG <p-sortIcon field="rg" />
                </th>
                <th pSortableColumn="cnhCategory" style="width:10%">
                    CNH <p-sortIcon field="cnhCategory" />
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-driver>
            <tr>
                <td><span class="text-500">{{ driver.id }}</span></td>
                <td>
                    <i class="pi " [ngClass]="{
                        'pi-times-circle text-red-500':driver.status == disabled,
                        'pi-check-circle text-green-500':driver.status == enabled}">
                    </i> {{driver.status | uppercase}}
                </td>
                <td><span class="text-500">{{ driver.name | uppercase }}</span></td>
                <td><span class="text-500">{{ maskCPF(driver.cpf)  }}</span></td>
                <td><span class="text-500">{{ driver.rg }}</span></td>
                <td><span class="text-500">{{ driver.cnhCategory | uppercase }}</span></td>
                
                <td>
                    <p-button icon="pi pi-pencil" label="Editar" [text]="true" severity="secondary-custom" size="small" (onClick)="edit(driver.id)"/>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!-- Dialog new driver -->
<p-dialog [(visible)]="visibleDialogNew" header="Cadastro do Motorista" [modal]="true" [maximizable]="true"
    [style]="{ width: '70rem',height:'60rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <form [formGroup]="formDriver">
        <div class="p-fluid p-formgrid grid">

             <div class="field col-6 md:col-6">
                <label for="">Foto do motorista</label>
                <div class="flex align-items-start">
                    <div class="layout-file">
                        <div class="layout-file-img">
                            <p-image *ngIf="driverPhotoUrl" [imageStyle]="{'object-fit':'cover'}" [src]="driverPhotoUrl" alt="" [preview]="true"/>
                        </div>
                        <button *ngIf="driverPhotoUrl" pButton severity="danger" (click)="deletePhoto()">
                            <i class="pi pi-trash"></i>
                            <span>Remover</span>
                        </button>
                        <button *ngIf="!driverPhotoUrl" pButton type="button" (click)="selectPhoto()">
                            <i class="pi pi-plus"></i>
                            <span>Incluir</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="field col-6 md:col-6">
                <label for="">Fotos da CNH</label>
                <div class="flex justify-content-start gap-2">               
                    <div class="layout-file">
                        <div class="layout-file-img">
                            <p-image *ngIf="driverPhotoDoc1Url" [imageStyle]="{'object-fit':'cover'}" [src]="driverPhotoDoc1Url" alt="" [preview]="true"/>
                        </div>
                        <button *ngIf="driverPhotoDoc1Url" pButton severity="danger" (click)="deleteEntryFileDriver1()">
                            <i class="pi pi-trash"></i>
                            <span>Remover</span>
                        </button>
                        <button *ngIf="!driverPhotoDoc1Url" pButton type="button" (click)="photoFile1Driver()">
                            <i class="pi pi-plus"></i>
                            <span>Incluir</span>
                        </button>
                    </div>
                    <div class="layout-file">
                        <div class="layout-file-img">
                            <p-image *ngIf="driverPhotoDoc2Url" [imageStyle]="{'object-fit':'cover'}" [src]="driverPhotoDoc2Url" alt="" [preview]="true"/>
                        </div>
                        <button *ngIf="driverPhotoDoc2Url" pButton severity="danger" (click)="deleteEntryFileDriver2()">
                            <i class="pi pi-trash"></i>
                            <span>Remover</span>
                        </button>
                        <button *ngIf="!driverPhotoDoc2Url" pButton type="button" (click)="photoFile2Driver()">
                            <i class="pi pi-plus"></i>
                            <span>Incluir</span>
                        </button>
                    </div>
                 </div>
            </div>

            <div class="col-12 md:col-2">
                <label for="">Código</label>
                <p-inputNumber mode="decimal" [useGrouping]="false" formControlName="id"/>
            </div>
            <div class="col-12 md:col-10">
                <label for="">Nome</label>
                <input pInputText maxlength="100" [style]="{'text-transform':'uppercase'}" formControlName="name"/>
                <small class="p-error block" *ngIf="formDriver.get('name')?.invalid">Campo obrigatório</small>
            </div>
            <div class="col-12 md:col-3">
                <label for="">Data Nascimento</label>
                <p-calendar [showOnFocus]="false" [showIcon]="true" inputId="buttondisplay" dateFormat="dd/mm/yy" (onInput)="applyDateMask($event)" formControlName="dateBirth"/>
                <small class="p-error block" *ngIf="formDriver.get('dateBirth')?.invalid">Campo obrigatório</small>
            </div>
            <div class="col-12 md:col-3">
                <label for="">CPF</label>
                <p-inputMask mask="999.999.999-99" [unmask]="true" formControlName="cpf"/>
                <small class="p-error block" *ngIf="formDriver.get('cpf')?.invalid">Campo obrigatório</small>
            </div>
            <div class="col-12 md:col-3">
                <label for="">RG</label>
                <p-inputNumber mode="decimal" [useGrouping]="false" maxlength="11" formControlName="rg"/>
                <small class="p-error block" *ngIf="formDriver.get('rg')?.invalid">Campo obrigatório</small>
            </div>
            <div  class="col-12 md:col-3">
                <label for="">Sexo</label>
                <p-dropdown [options]="sexos" optionLabel="type" formControlName="maleFemale"/>
                <small class="p-error block" *ngIf="formDriver.get('maleFemale')?.invalid">Campo obrigatório</small>
            </div>
            <div class="col-12 md:col-6">
                <label for="">E-mail</label>
                <input pInputText maxlength="100" formControlName="email"/>
            </div>
            <div class="col-12 md:col-3">
                <label for="">Nº Registro CNH</label>
                <p-inputNumber mode="decimal" [useGrouping]="false" maxlength="11" formControlName="cnhRegister"/>
                <small class="p-error block" *ngIf="formDriver.get('cnhRegister')?.invalid">Campo obrigatório</small>
            </div>
            <div class="col-12 md:col-3">
                <label for="">Categoria CNH</label>
                <input pInputText maxlength="10" [style]="{'text-transform':'uppercase'}" formControlName="cnhCategory"/>
                <small class="p-error block" *ngIf="formDriver.get('cnhCategory')?.invalid">Campo obrigatório</small>
            </div>
            <div class="col-12 md:col-3">
                <label for="">Validade CNH</label>
                <p-calendar [showOnFocus]="false" [showIcon]="true" inputId="buttondisplay" dateFormat="dd/mm/yy" (onInput)="applyDateMask($event)" formControlName="cnhValidation"/>
                <small class="p-error block" *ngIf="formDriver.get('cnhValidation')?.invalid">Campo obrigatório</small>
            </div>
            <div class="col-12 md:col-1">
                <label for="DDDPhoneId">DDD</label>
                <p-inputMask id="DDDPhoneId" mask="99" [unmask]="true" formControlName="dddPhone"/>
            </div>
            <div class="col-12 md:col-3">
                <label for="PhoneId">Telefone</label>
                <p-inputMask id="PhoneId" mask="9999-9999" [unmask]="true" formControlName="phone"/>
            </div>
            <div class="col-12 md:col-1">
                <label for="DDDCellphoneId">DDD</label>
                <p-inputMask id="DDDCellphoneId" mask="99" [unmask]="true" formControlName="dddCellphone" />
            </div>
            <div class="col-12 md:col-3">
                <label for="cellphoneId">Celular</label>
                <p-inputMask id="cellphoneId" mask="99999-9999" [unmask]="true" formControlName="cellphone"/>
            </div>
            <div class="col-12 md:col-2">
                <label for="ClientzipCode">CEP</label>
                <p-inputGroup>
                    <p-inputMask id="ClientzipCode" mask="99999-999" [unmask]="true" formControlName="zipCode" />
                    <button type="button" pButton icon="pi pi-search" class="p-button-warning" (click)="searchCEP()"></button>
                </p-inputGroup>
                <small class="p-error block" *ngIf="formDriver.get('zipCode')?.invalid">Campo obrigatório</small>
            </div>
            <div class="col-12 md:col-9">
                <label for="Clientaddress">Logradouro</label>
                <input id="Clientaddress" type="text" [style]="{'text-transform':'uppercase'}" pInputText maxlength="100" formControlName="address" />
                <small class="p-error block" *ngIf="formDriver.get('address')?.invalid">Campo obrigatório</small>
            </div>
            <div class="col-12 md:col-1">
                <label for="ClientAddressNumber">Nº</label>
                <p-inputNumber id="ClientAddressNumber" maxlength="10" formControlName="addressNumber" [useGrouping]="false" />
            </div>
            <div class="col-12 md:col-1">
                <label for="ClientState">UF</label>
                <p-inputMask id="ClientState" [style]="{'text-transform':'uppercase'}" mask="aa" [unmask]="true" formControlName="state" />
                <small class="p-error block" *ngIf="formDriver.get('state')?.invalid">Campo obrigatório</small>
            </div>
            <div class="col-12 md:col-5">
                <label for="ClientCity">Cidade</label>
                <input id="ClientCity" type="text" [style]="{'text-transform':'uppercase'}" pInputText maxlength="100" formControlName="city" />
                <small class="p-error block" *ngIf="formDriver.get('city')?.invalid">Campo obrigatório</small>
            </div>
            <div class="col-12 md:col-6">
                <label for="ClientNeighborhood">Bairro</label>
                <input id="ClientNeighborhood" type="text" [style]="{'text-transform':'uppercase'}" pInputText maxlength="100" formControlName="neighborhood" />
                <small class="p-error block" *ngIf="formDriver.get('neighborhood')?.invalid">Campo obrigatório</small>
            </div>
            <div class="col-12 md:col-8">
                <label for="ClientAddressComplement">Complemento</label>
                <input id="ClientAddressComplement" type="text" [style]="{'text-transform':'uppercase'}" pInputText maxlength="100" formControlName="addressComplement" />
            </div>
            <div class="col-12 md:col-4">
                <label for="">Status</label>
                <div class="flex align-items-center gap-2 border-1 border-round border-300 p-3">
                    <div class="flex align-items-center">
                        <p-radioButton inputId="st1" [value]="enabled" formControlName="status"></p-radioButton>
                        <label for="st1" class="ml-2">{{enabled}}</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton inputId="st2" [value]="disabled" formControlName="status"></p-radioButton>
                        <label for="st2" class="ml-2">{{disabled}}</label>
                    </div>
                </div>
            </div>            
        </div>
    </form>
    <p-divider type="solid" />
    <div class="flex justify-content-end gap-2 mt-3">
        <button pButton type="button" pRipple label="Fechar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton type="button" pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)=" save()"></button>
    </div>
</p-dialog>
