<div class="layout-card">
    <!-- Info -->
    <p-toast />
    <div class="layout-card-title">
        <span>Peças</span>
        <p-button icon="pi pi-plus" [text]="true" label="Peças" (onClick)="showNewPart()" />
    </div>

    <p-table #dtParts dataKey="id" [value]="parts" 
        [globalFilterFields]="['id','status','code','description','brand','group','category']"
        [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" styleClass="p-datatable-sm">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between">
                <p-iconField iconPosition="left">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="dtParts.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" style="width:10%">Código <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="status" style="width:10%">Status<p-sortIcon field="status"></p-sortIcon></th>
                <th pSortableColumn="code" style="width:15%">Peça<p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="description" style="width:35%">Descrição<p-sortIcon field="description"></p-sortIcon></th>
                <th pSortableColumn="brand" style="width:10%">Marca<p-sortIcon field="brand"></p-sortIcon></th>
                <th pSortableColumn="group" style="width:10%">Grupo<p-sortIcon field="group"></p-sortIcon></th>
                <th pSortableColumn="category" style="width:10%">Categoria<p-sortIcon field="category"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.id}}</td>
                <td>
                    <i class="pi " [ngClass]="{
                        'pi-times-circle text-red-500':item.status == disabled,
                        'pi-check-circle text-green-500':item.status == enabled}">
                    </i> {{item.status | uppercase}}
                </td>
                <td>{{item.code | uppercase}}</td>
                <td>{{item.description | uppercase}}</td>
                <td>{{item.brand | uppercase}}</td>
                <td>{{item.group | uppercase}}</td>
                <td>{{item.category | uppercase}}</td>
                <td><p-button icon="pi pi-pencil" label="Editar" [text]="true" severity="secondary-custom" size="small" (onClick)="edit(item.id)"/></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="visibleDialog" header="Cadastro de Peças" [modal]="true" [maximizable]="true"
    [style]="{ width: '70rem',height:'60rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <div [formGroup]="formPart">
        <div class="p-fluid p-formgrid grid">
            <div class="col-12 md:col-8 flex justify-content-center border-1 border-round border-300 p-3 mt-2">

                <div class="flex flex-column border-1 border-round border-300 p-3 m-2">
                    <div class="part-img">
                        <img *ngIf="photoPartFront" [src]="photoPartFront" alt="">
                    </div>
                    <div class="mb-3 font-medium">
                        Frente
                    </div>
                    <div class="flex gap-1">
                        <p-button icon="pi pi-plus" styleClass="ml-2" (onClick)="onFileSelectedFront()"/>
                        <p-button icon="pi pi-times" severity="danger" [outlined]="true"  (onClick)="onFileDeleteFront()"/>
                    </div>
                </div>
                <div class="flex flex-column border-1 border-round border-300 p-3 m-2">
                    <div class="part-img">
                        <img *ngIf="photoPartVerse" [src]="photoPartVerse" alt="">
                    </div>
                    <div class="mb-3 font-medium">
                        Verso
                    </div>
                    <div class="flex gap-1">
                        <p-button icon="pi pi-plus" styleClass="ml-2" (onClick)="onFileSelectedVerse()"/>
                        <p-button icon="pi pi-times" severity="danger" [outlined]="true" (onClick)="onFileDeleteVerse()" />
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-4 p-0">
                <div class="col-12">
                    <label for="">Status</label>
                    <div class="flex align-items-center gap-2 border-1 border-round border-300 p-3">
                        <div class="flex align-items-center">
                            <p-radioButton inputId="st1" [value]="enabled" formControlName="status"></p-radioButton>
                            <label for="st1" class="ml-2">{{enabled}}</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton inputId="st2" [value]="disabled" formControlName="status"></p-radioButton>
                            <label for="st2" class="ml-2">{{disabled}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 flex p-0">
                    <div class="col-6">
                        <label for="">Valor Atual</label>
                        <p-inputNumber mode="decimal" inputId="currency-br" locale="pt-BR" [minFractionDigits]="2" formControlName="priceNow"/>
                        <small class="p-error block" *ngIf="formPart.get('priceNow')?.invalid">Campo obrigatório</small>
                    </div>
                    <div class="col-6">
                        <label for="">Valor Anterior</label>
                        <p-inputNumber mode="decimal" inputId="currency-br" locale="pt-BR" [minFractionDigits]="2" formControlName="priceOld"/>
                        <small class="p-error block" *ngIf="formPart.get('priceOld')?.invalid">Campo obrigatório</small>
                    </div>
                </div>
                <div class="col-12">
                    <label for="">Valor Garantia</label>
                    <p-inputNumber mode="decimal" inputId="currency-br" locale="pt-BR" [minFractionDigits]="2" formControlName="priceWarranty" />
                    <small class="p-error block" *ngIf="formPart.get('priceWarranty')?.invalid">Campo obrigatório</small>
                </div>
                <div class="col-12">
                        <label for="partgroupsId">Acréscimo/Desconto</label>
                        <p-dropdown 
                        [options]="listAdditionDiscount" 
                        optionLabel="discount"
                        [style]="{'text-transform':'uppercase'}" formControlName="additionDiscount"/>
                        <small class="p-error block" *ngIf="formPart.get('additionDiscount')?.invalid">Campo obrigatório</small> 
                    </div>
            </div>
        </div>
    </div>
    <p-tabView [(activeIndex)]="tabViewIndex">
        <p-tabPanel header="Dados">
            <div [formGroup]="formPart" style="min-height: 20rem">
                <div class="p-fluid p-formgrid grid">
                    <div class="col-12 md:col-2">
                        <label for="">Código</label>
                        <p-inputNumber mode="decimal" [useGrouping]="false" formControlName="id" />
                    </div>
                    <div class="col-12 md:col-7">
                        <label for="">Código Fabricante</label>
                        <input pInputText maxlength="50" [style]="{'text-transform':'uppercase'}" formControlName="code" />
                         <small class="p-error block" *ngIf="formPart.get('code')?.invalid">Campo obrigatório</small> 
                    </div>
                    <div class="col-12 md:col-3">
                        <label for="partgroupsId">Unidades de Medida</label>
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <span>{{siglaUnit| uppercase}}</span>
                            </p-inputGroupAddon>
                            <p-dropdown [options]="partUnits" optionLabel="description" [style]="{
                                'text-transform':'uppercase',
                                'width':'100%',
                                'border-bottom-left-radius':'0',
                                'border-top-left-radius':'0'}" (onChange)="onUnitSelected($event)" formControlName="unit"/>
                        </p-inputGroup>
                        <small class="p-error block" *ngIf="formPart.get('unit')?.invalid">Campo obrigatório</small> 
                    </div>
                    <div class="col-12">
                        <label for="">Descrição</label>
                        <input pInputText maxlength="100" [style]="{'text-transform':'uppercase'}" formControlName="description"/>
                        <small class="p-error block" *ngIf="formPart.get('description')?.invalid">Campo obrigatório</small>
                    </div>
                    <div class="col-12 md:col-3">
                        <label for="brandId">Marca</label>
                        <p-dropdown [options]="partBrands" optionLabel="name" [style]="{'text-transform':'uppercase'}" (onChange)="onBrandSelected($event)" formControlName="brand"/>
                        <small class="p-error block" *ngIf="formPart.get('brand')?.invalid">Campo obrigatório</small> 
                    </div>
                    <div class="col-12 md:col-3">
                        <label for="partgroupsId">Grupo</label>
                        <p-dropdown [options]="partGroups" optionLabel="description" [style]="{'text-transform':'uppercase'}" [loading]="isLoadingGroup" formControlName="group"/>
                        @if(formPart.get('brand')?.invalid){
                            <small class="p-error block">Marca obrigatório</small>
                        }@else{
                            <small class="p-error block" *ngIf="formPart.get('group')?.invalid">Campo obrigatório</small>
                        }
                    </div>
                    <div class="col-12 md:col-3">
                        <label for="partCatId">Categoria</label>
                        <p-dropdown [options]="partCategories" optionLabel="description" [style]="{'text-transform':'uppercase'}" formControlName="category"/>
                         <small class="p-error block" *ngIf="formPart.get('category')?.invalid">Campo obrigatório</small> 
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Localização">
            <div [formGroup]="formPart" style="min-height: 20rem">
                <div class="p-fluid p-formgrid grid">
                    <div class="col-12 md:col-6">
                        <label for="">Localização Principal</label>
                        <div class="flex flex-column border-1 border-round border-300 p-3">
                            <div class="col-12">
                                <label for="">Área</label>
                                <input pInputText maxlength="50" [style]="{'text-transform':'uppercase'}" formControlName="locationPriArea"/>
                            </div>
                            <div class="flex">
                                <div class="col-3">
                                    <label for="">Rua</label>
                                    <input pInputText [style]="{'text-transform':'uppercase'}" formControlName="locationPriStreet"/>
                                </div>
                                <div class="col-3">
                                    <label for="">Estante</label>
                                    <input pInputText [style]="{'text-transform':'uppercase'}" formControlName="locationPriBookcase"/>
                                </div>
                                <div class="col-3">
                                    <label for="">Patreleira</label>
                                    <input pInputText [style]="{'text-transform':'uppercase'}" formControlName="locationPriShelf"/>
                                </div>
                                <div class="col-3">
                                    <label for="">Número</label>
                                    <input pInputText [style]="{'text-transform':'uppercase'}" formControlName="locationPriPosition"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="">Localização Secundária</label>
                        <div class="flex flex-column border-1 border-round border-300 p-3">
                            <div class="col-12">
                                <label for="">Área</label>
                                <input pInputText maxlength="50" [style]="{'text-transform':'uppercase'}" formControlName="locationSecArea"/>
                            </div>
                            <div class="flex">
                                <div class="col-3">
                                    <label for="">Rua</label>
                                    <input pInputText [style]="{'text-transform':'uppercase'}" formControlName="locationSecStreet"/>
                                </div>
                                <div class="col-3">
                                    <label for="">Estante</label>
                                    <input pInputText [style]="{'text-transform':'uppercase'}" formControlName="locationSecBookcase"/>
                                </div>
                                <div class="col-3">
                                    <label for="">Patreleira</label>
                                    <input pInputText [style]="{'text-transform':'uppercase'}" formControlName="locationSecShelf"/>
                                </div>
                                <div class="col-3">
                                    <label for="">Número</label>
                                    <input pInputText [style]="{'text-transform':'uppercase'}" formControlName="locationSecPosition"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
    <p-divider type="solid" />
    <div class="flex justify-content-end gap-2 mt-3">
        <button pButton type="button" pRipple label="Fechar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton type="button" pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </div>
</p-dialog>