:host {

    .layout-input-disabled {
        display: flex;
        font-size: 1rem;
        padding: 0.75rem;
        border-radius: 6px;
        border: 1px solid var(--color-grey-300);

    }

    .layout-input-disabled-area-text {
        display: flex;
        height: 8rem;
        width: 100%;
        font-size: 1rem;
        padding: 0.75rem;
        border-radius: 6px;
        border: 1px solid var(--color-grey-300);
    }

    .layourt-button-action-speedDial {
        display: none;
    }

    .layout-card-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        span {
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 400;
            color: #64748b;
            padding-left: 1.5rem;
        }

        .layourt-button-back {
            display: flex;
            align-items: center;
            height: 29px;
        }

    }

    .layourt-button-action {
        display: flex;
        width: 100%;
        height: 33px;
        padding-left: 2rem;
    }

    .layout-photo-person {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: var(--color-grey-300);
        border-radius: 100%;

        .layout-photo-person-label {
            display: flex;
            align-items: center;
            width: 80px;
            height: 80px;

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0px;
                width: 100%;
                height: 100%;
                color: #3B82F6;
                cursor: pointer;
            }

            input[type="file"] {
                display: none;
            }
        }
    }

    ::ng-deep .p-image-preview-container>img {
        width: 80px;
        height: 80px;
    }

    .layout-file {
        display: flex;
        flex-direction: column;
        background-color: var(--color-grey-300);
        justify-content: center;
        align-items: center;
        border-radius: 8px;

        .layout-file-img {
            width: 80px;
            height: 80px;
        }

        button {
            width: 100px;
            padding: 10px 0px;
            border-radius: 0 0px 8px 8px;
        }
    }

    .layout-card-divid {
        width: 100%;
        height: 1px;
        background-color: var(--color-grey-300);
    }

    .layout-card-option {
        display: flex;
        flex-direction: column;
        height: 119px;
        width: 100%;
        padding: 0.5rem 2rem 2rem 2rem;
        border-radius: 8px;
        border: 1px solid var(--color-grey-300);
        gap: 8px;

        .layout-card-option-title {
            font-weight: 400px;

        }
    }

    .layout-card-option-type {
        display: flex;
        height: 100px;
        width: 100%;
        padding: 0.5rem 2rem 2rem 0rem;
        gap: 8px;

        .layout-card-option-title {
            font-weight: 400px;

        }
    }

    .layout-card-border {
        padding: 1rem;
        border-radius: 8px;
        border: solid 1px var(--color-grey-300);
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 375px) and (max-width: 667px) {

        .mobile-disabled {
            display: none;

        }

        .layourt-button-action {
            display: none;
        }

        .layourt-button-action-speedDial {
            display: flex;
            position: absolute !important;
            top: 40vh;
            right: 16vw;
        }

        ::ng-deep {

            .p-image-preview-container>img {
                width: 68px;
                height: 68px;
                object-fit: cover;
            }
        }

        .layout-file {
            .layout-file-img {
                width: 68px;
                height: 68px;

            }

            label {
                padding: 5px 0px;
                width: 68px;
                background-color: #64748b;
                color: #FFF;
                text-align: center;
                display: block;
                border-radius: 0 0px 8px 8px;
                border: 1px solid var(--color-grey-300);
                cursor: pointer;
            }

            button {
                width: 68px;
                padding: 10px 0px;
                border-radius: 0 0px 8px 8px;
            }
        }

    }



}