:host {

    .layout-card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        span {
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--color-grey-800);
        }
    }

    .mobile-visible-none {
        display: block;
    }

    .mobile-visible {
        display: none;
    }

    .layout-main-between {
        width: 100%;
        min-height: calc(100vh - 15rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .layourt-button-action {
        display: flex;
        width: 100%;
        height: 33px;
        padding-left: 2rem;
    }

    .layout-photo-person {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: var(--color-grey-300);
        border-radius: 100%;

        .layout-photo-person-label {
            display: flex;
            align-items: center;
            width: 80px;
            height: 80px;

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0px;
                width: 100%;
                height: 100%;
                color: #3B82F6;
                cursor: pointer;
            }

            input[type="file"] {
                display: none;
            }
        }
    }

    .lazy-img {
        loading: lazy;
    }

    .layout-file {
        display: flex;
        flex-direction: column;
        background-color: var(--color-grey-300);
        justify-content: center;
        align-items: center;
        border-radius: 6px;

        .layout-file-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
        }

        input[type="file"] {
            display: none;
        }

        label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            padding: 10px 0;
            border-radius: 0 0 6px 6px;
            background: #3B82F6;
            color: #FFF;
            cursor: pointer;

            span {
                display: flex;
            }
        }

        button {
            display: flex;
            justify-content: center;
            gap: 6px;
            width: 100px;
            padding: 10px 0;
            border-radius: 0 0 6px 6px;

            span {
                display: flex;
            }
        }
    }

    .layout-card-divid {
        width: 100%;
        height: 1px;
        background-color: var(--color-grey-300);
    }

    .layout-card-option-type {
        display: flex;
        height: 100px;
        width: 100%;
        padding: 0.5rem 2rem 2rem 0rem;
        gap: 8px;

        .layout-card-option-title {
            font-weight: 400px;
        }
    }

    .layout-card-border {
        padding: 1rem;
        border-radius: 8px;
        border: solid 1px var(--color-grey-300);
    }

    ::ng-deep {

        .p-timeline-horizontal {
            width: 70rem;
        }

        .p-image-preview-container>img {
            width: 80px;
            height: 77px;
            object-fit: cover;
            border-radius: 6px 6px 0 0;
        }

        .p-button.p-button-icon-only {
            padding: 0.5rem 0;
        }

        .p-fileupload .p-button {
            border-radius: 0 0 6px 6px;
        }
    }

    @media (max-width: 991px) {
        .mobile-visible-none {
            display: none !important;
        }

        .mobile-visible {
            display: block;
        }

        .lazy-img {
            loading: lazy;
        }

        .layout-status-vehicle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .layout-number {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                background-color: #3B82F6;
                border: 1px solid #f3f4f6;
                border-radius: 100%;

                span {
                    color: #fff;
                    font-weight: 300;
                }
            }

            span {
                color: #4b5563;
                font-weight: 700;
                font-size: 1.25rem;
            }
        }

        .layourt-button-action {
            display: none;
        }

        ::ng-deep {
            .p-image-preview-container>img {
                width: 62px;
                height: 62px;
                object-fit: cover;
                border-radius: 6px 6px 0 0;
            }
        }

        .layout-file {

            .layout-file-img {
                width: 62px;
                height: 62px;
            }

            label {
                padding: 5px 0px;
                width: 62px;
                height: 38px;
                border-radius: 0 0 6px 6px;
                cursor: pointer;

                span {
                    display: none;
                }
            }

            button {
                width: 62px;
                border-radius: 0 0 6px 6px;

                span {
                    display: none;
                }
            }
        }

    }



}