:host {

    .mobile-visible-none {
        display: flex;
    }

    .mobile-visible {
        display: none;
    }

    .layout-card-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        span {
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--color-grey-800);
        }

    }

    .layout-file {
        display: flex;
        flex-direction: column;
        background-color: var(--color-grey-300);
        justify-content: center;
        align-items: center;
        border-radius: 8px;

        .layout-file-img {
            width: 80px;
            height: 80px;
        }

        button {
            width: 100px;
            padding: 10px 0;
            border-radius: 0 0 8px 8px;
        }
    }

    .layout-badge-info {
        display: flex;

        p-badge {
            position: absolute;
            margin-left: 43px;
        }
    }

    .whatsapp-btn {
        background-color: #25D366;
        color: white;
        border: none;
        padding: 10px 16px;
        border-radius: 8px;
        cursor: pointer;
    }

    ::ng-deep {

        .p-image-preview-container>img {
            width: 80px;
            height: 80px;
        }

    }

    @media (max-width: 991px) {
        .mobile-visible-none {
            display: none;
        }

        .mobile-visible {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .disabled-col {
            display: none;
        }

        .layout-badge-info {
            display: flex;
            flex-direction: row;
            align-items: center;

            p-badge {
                position: relative;
                margin-left: auto;
            }
        }

        ::ng-deep {
            .p-image-preview-container>img {
                width: 68px;
                height: 68px;
                object-fit: cover;
            }
        }

        .layout-file {
            .layout-file-img {
                width: 68px;
                height: 68px;

            }

            label {
                padding: 5px 0px;
                width: 68px;
                background-color: #64748b;
                color: #FFF;
                text-align: center;
                display: block;
                border-radius: 0 0 8px 8px;
                border: 1px solid var(--color-grey-300);
                cursor: pointer;
            }

            button {
                width: 76px;
                padding: 10px 0;
                border-radius: 0 0 8px 8px;
            }
        }
    }
}