<div class="layout-card">

    <p-toast/>
    <div class="layout-card-title">
        <span>Mecânicos</span>
        <p-button icon="pi pi-plus" [text]="true" label="Mecânico" (onClick)="showDialog()" />
    </div>
    <p-table #dt dataKey="id" [value]="mechanics" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Cadastros"
        [globalFilterFields]="['id','name']" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]" styleClass="p-datatable-sm">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between">
                <p-iconField iconPosition="left">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Pesquisar" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" class="font-normal" style="width:10%">Código<p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="status" class="font-normal" style="width:10%">Status<p-sortIcon field="status"></p-sortIcon></th>
                <th pSortableColumn="photo" class="font-normal" style="width:10%">Foto<p-sortIcon field="photo"></p-sortIcon></th>
                <th pSortableColumn="name" class="font-normal" style="width:60%">Nome<p-sortIcon field="name"></p-sortIcon></th>
                <th class="font-normal" style="width:10%">Editar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mec>
            <tr>
                <td>{{mec.id}}</td>
                <td >
                    <i class="pi " [ngClass]="{
                        'pi-times-circle text-red-500':mec.status == disabled,
                        'pi-check-circle text-green-500':mec.status == enabled}">
                    </i>
                </td>
                <td>@if (mec.photo) {
                    <img class="layout-img-small" src="data:image/png;base64,{{mec.photo}}" alt="photo mechanic" width="32"
                        height="32" loading="lazy"/>
                    }
                </td>
                <td>{{mec.name}}</td>
                <td><p-button icon="pi pi-pencil" label="Editar" [text]="true" (onClick)="editMecchanic(mec)"  size="small"/></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Cadastro" [(visible)]="visibleDialog" [style]="{width: '450px'}">
    <form [formGroup]="formMec" (ngSubmit)="saveMechanic()">
        <div class="p-fluid p-formgrid grid">
            <div class="mt-5 layout-dialog-img">
                @if(photoMec){
                <img class="layout-img-large" src="data:image/png;base64,{{photoMec}}" alt="photo mechanic" width="140" height="140" loading="lazy"/>
                }
            </div>
            <div class="field col-12">
                <label for="descricao">Nome</label>
                <input pInputText id="descricao" formControlName="name" />
                <small class="p-error block" *ngIf="formMec.get('name')?.invalid">Campo obrigatório</small>
            </div>
            <div class="field col-12">
                <label for="passId">Senha</label>
                <p-inputNumber [useGrouping]="false" formControlName="codePassword" />
                <small class="p-error block" *ngIf="formMec.get('codePassword')?.invalid">Campo obrigatório</small>
            </div>
            <div class="field col-10">
                <button pButton type="button" label="Selecionar imagem" (click)="onSelectFile()"></button>
            </div>
            <div class="field col-2 flex align-items-center">
                <button type="button" pButton icon="pi pi-trash" severity="danger" (click)="deleteFile()"></button>
            </div>
            <div class="field col-12 layout-card-status">
                <span>Situação</span>
                <div class="flex align-items-center">
                    <p-radioButton inputId="enabledId" [value]="enabled" formControlName="status"></p-radioButton>
                    <label for="enabledId" class="ml-2">Ativado</label>
                </div>
                <div class="flex align-items-center">
                    <p-radioButton inputId="disabledId" [value]="disabled" formControlName="status"></p-radioButton>
                    <label for="disabledId" class="ml-2">Desativado</label>
                </div>
            </div>
        </div>

        <div class="flex justify-content-end gap-2 mt-3">
            <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                (click)=" hideDialog()"></button>
            <button pButton type="submit" pRipple label="Salvar" icon="pi pi-check" class="p-button-text"></button>
        </div>
    </form>
</p-dialog>