<div class="layout-card">
    <!-- Info -->
    <p-toast />
    <div class="layout-card-title">
        <span>Atendimento de veículos</span>
        <div class="layout-button-alert">
            @if (listVehicleEntry.length > 0) {
             <p-badge [value]="listVehicleEntry.length" severity="warning"></p-badge> 
            <p-button icon="pi pi-truck" [rounded]="true" severity="warning" [outlined]="true" [text]="true"
                size="large" (onClick)="showDialogVehicle()" />
            }
        </div>
    </div>

    <p-stepper #stepper [(activeStep)]="activeStepper">
        <p-stepperPanel>
            <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
                <button class="bg-transparent border-none inline-flex flex-column gap-2"
                    (click)="stepperClientCompany()">
                    <span
                        class="border-round border-1 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                        [ngClass]="{'bg-primary border-primary': index <= activeStepper, 'surface-border': index > activeStepper}">
                        <i class="pi pi-building"></i>
                    </span>
                </button>
            </ng-template>
            <ng-template pTemplate="content" let-nextCallback="nextCallback">
                <form [formGroup]="formClientCompany">
                    <div class="layout-card-step">
                        <span>Vamos fazer a entrada de um novo veículo</span>
                        <p>
                            Por favor selecione a empresa em que esse veículo pertence
                        </p>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-1">
                                <label for="clientCompanyId">Codígo</label>
                                <p-inputNumber inputId="clientCompanyId" [useGrouping]="false"
                                    formControlName="clientCompanyId" />
                            </div>
                            <div class="md:col-11"></div>
                            <div class="field col-12 md:col-6">
                                <label for="clientCompanyName">Empresa</label>
                                <p-inputGroup>
                                    <input pInputText id="clientCompanyName" type="text"
                                        formControlName="clientCompanyName" [style]="{'text-transform':'uppercase'}" />
                                    <button pButton type="button" icon="pi pi-search" class="p-button-warning"
                                        (click)="showDialogFilterClientCompany()"></button>
                                </p-inputGroup>

                            </div>
                            <div class="md:col-6"></div>
                            <div class="field col-12 md:col-2">
                                <label for="clientCompanyCnpj">CNPJ</label>
                                <p-inputMask id="clientCompanyCnpj" mask="99.999.999/9999-99"
                                    formControlName="clientCompanyCnpj" />
                            </div>
                            <div class="field col-12 md:col-2">
                                <label for="clientCompanyCpf">CPF</label>
                                <p-inputMask id="clientCompanyCpf" mask="999.999.999-99"
                                    formControlName="clientCompanyCpf" />
                            </div>
                            <div class="field col-12 md:col-2">
                                <label for="clientCompanyRg">RG</label>
                                <p-inputNumber inputId="clientCompanyRg" [useGrouping]="false"
                                    formControlName="clientCompanyRg" />
                            </div>
                            <div class="md:col-6"></div>

                        </div>

                    </div>
                </form>
                <div class="flex pt-4 justify-content-end">
                    <p-button (onClick)="nextStepperClientCompany()" label="Avançar" icon="pi pi-arrow-right"
                        iconPos="right" />
                </div>
            </ng-template>
        </p-stepperPanel>

        <p-stepperPanel>
            <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
                <button class="bg-transparent border-none inline-flex flex-column gap-2" (click)="stepperDriver()">
                    <span
                        class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                        [ngClass]="{
                            'bg-primary border-primary': index <= activeStepper,
                            'surface-border': index > activeStepper
                        }">
                        <i class="pi pi-user"></i>
                    </span>
                </button>
            </ng-template>
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">

                <form [formGroup]="formDriver">
                    <div class="layout-card-step">

                        <span>Vamos informar os dados do motorista</span>

                        <div class="p-fluid p-formgrid grid">

                            <div class="field col-12 flex align-items-center">

                                <div class="layout-photo-person">

                                    @if(driverEntryPhoto){
                                    <p-image [imageStyle]="{'border-radius':'100%','object-fit':'cover'}"
                                        src="data:image/png;base64,{{driverEntryPhoto}}" alt="imagem motorista"
                                        height="80" width="80" [preview]="true" />

                                    <button pButton severity="danger" [text]="true" label="Remover"
                                        (click)="deleteEntryPhotoDriver()"></button>
                                    }@else{
                                    <div class="layout-photo-person-label">
                                        <button pButton type="button" label="Foto" [rounded]="true" [text]="true"
                                            size="small" (click)="photoPersonDriver()"></button>
                                    </div>
                                    }

                                </div>

                            </div>

                            <div class="field col-12 md:col-6">
                                <label for="driverEntryName">Nome</label>
                                <input pInputText id="driverEntryName" type="text" formControlName="driverEntryName"
                                    [style]="{'text-transform':'capitalize'}">
                            </div>
                            <div class="md:col-6"></div>

                            <div class="field col-12 md:col-2">
                                <label for="driverEntryCpf">CPF</label>
                                <p-inputMask id="driverEntryCpf" mask="999.999.999-99" unmask="true"
                                    formControlName="driverEntryCpf" />
                            </div>

                            <div class="field col-12 md:col-2">
                                <label for="driverEntryRg">RG</label>
                                <p-inputNumber id="clientCompanyRg" mode="decimal" [useGrouping]="false"
                                    formControlName="driverEntryRg" />
                            </div>
                            <div class="md:col-8"></div>

                            <div class="field col-12 md:col-6 flex align-items-center gap-2">
                                <div class="layout-file">
                                    <div class="layout-file-img">
                                        @if(driverEntryPhotoDoc1){
                                        <p-image src="data:image/png;base64,{{driverEntryPhotoDoc1}}" alt="" height="80"
                                            width="80" [preview]="true" />
                                        }

                                    </div>

                                    @if(driverEntryPhotoDoc1){
                                    <button pButton icon="pi pi-trash" severity="danger"
                                        (click)="deleteEntryFileDriver1()"></button>
                                    }@else {
                                    <button pButton type="button" label="Foto Arquivo" severity="secondary"
                                        (click)="photoFile1Driver()"></button>
                                    }

                                </div>
                                <div class="layout-file">
                                    <div class="layout-file-img">
                                        @if(driverEntryPhotoDoc2){
                                        <p-image src="data:image/png;base64,{{driverEntryPhotoDoc2}}" alt="" height="80"
                                            width="80" [preview]="true" />
                                        }

                                    </div>

                                    @if(driverEntryPhotoDoc2){
                                    <button pButton icon="pi pi-trash" severity="danger"
                                        (click)="deleteEntryFileDriver2()"></button>
                                    }@else {
                                    <button pButton type="button" label="Foto Arquivo" severity="secondary"
                                        (click)="photoFile2Driver()"></button>
                                    }

                                </div>
                            </div>
                        </div>

                    </div>
                </form>

                <div class="flex pt-4 justify-content-between">
                    <p-button (onClick)="prevCallback.emit()" label="Voltar" severity="secondary"
                        icon="pi pi-arrow-left" />
                    <p-button (onClick)="nextSterpperDriver()" label="Avançar" icon="pi pi-arrow-right"
                        iconPos="right" />
                </div>
            </ng-template>
        </p-stepperPanel>

        <p-stepperPanel>
            <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
                <button class="bg-transparent border-none inline-flex flex-column gap-2" (click)="stepperVehicle()">
                    <span
                        class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                        [ngClass]="{
                            'bg-primary border-primary': index <= activeStepper,
                            'surface-border': index > activeStepper
                        }">
                        <i class="pi pi-truck"></i>
                    </span>
                </button>
            </ng-template>
            <ng-template pTemplate="content" let-prevCallback="prevCallback">
                <form [formGroup]="formVehicle">
                    <div class="layout-card-step">

                        <span>Vamos informar agora os dados do veículo</span>
                        <div class="p-fluid p-formgrid grid">

                            <div class="field col-12 md:col-1">
                                <label for="placa">Placa</label>
                                <p-inputMask id="placa" mask="***-****" [unmask]="true"
                                    [style]="{'text-transform':'uppercase'}" formControlName="placa" />
                            </div>

                            <div class="field col-12 md:col-1">
                                <label for="frota">Frota</label>
                                <input pInputText id="frota" type="text" [style]="{'text-transform':'uppercase'}"
                                    formControlName="frota">
                            </div>

                            <div class="field col-12 md:col-2">
                                <label for="vehiclemodelid">Modelos</label>
                                <p-multiSelect id="vehiclemodelid" [options]="vehicleModels$ | async"
                                    optionLabel="description" display="chip" [selectionLimit]="1"
                                    placeholder="Selecione" formControlName="modelVehicle" />
                            </div>

                            <div class="field col-12 md:col-2 ">
                                <label for="dateEntry">Data Entrada</label>
                                <p-calendar [iconDisplay]="'input'" [showIcon]="true" [showTime]="true"
                                    dateFormat="dd/mm/yy" inputId="dateEntry" formControlName="dateEntry" />
                            </div>

                            <div class="field col-12 md:col-2 ">
                                <label for="datePrevisionExit">Previsão saída</label>
                                <p-calendar [iconDisplay]="'input'" [showIcon]="true" [showTime]="true"
                                    dateFormat="dd/mm/yy" inputId="datePrevisionExit"
                                    formControlName="datePrevisionExit" />
                            </div>
                            <div class="field col-12 md:col-2">
                                <label for="vehiclecolorid">Cor</label>
                                <p-multiSelect id="vehiclecolorid" [options]="cores" optionLabel="color" display="chip"
                                    [selectionLimit]="1" placeholder="Selecione" formControlName="color" />
                            </div>

                            <div class="field col-12 md:col-2">
                                <label for="kmatual">KM Atual</label>
                                <p-inputNumber inputId="kmatual" [useGrouping]="false" formControlName="kmEntry" />
                            </div>

                            <div class="field col-12 md:col-2">
                                <label for="coneid">Cone</label>
                                <p-inputNumber inputId="coneid" [useGrouping]="false"
                                    formControlName="quantityTrafficCone" />
                            </div>
                            <div class="field col-12 md:col-2">
                                <label for="extintorid">Extintor</label>
                                <p-inputNumber inputId="extintorid" [useGrouping]="false"
                                    formControlName="quantityExtinguisher" />
                            </div>
                            <div class="field col-12 md:col-2">
                                <label for="pneuid">Pneu</label>
                                <p-inputNumber inputId="pneuid" [useGrouping]="false" formControlName="quantityTire" />
                            </div>
                            <div class="field col-12 md:col-2">
                                <label for="pneurodaid">Pneu c/roda</label>
                                <p-inputNumber inputId="pneurodaid" [useGrouping]="false"
                                    formControlName="quantityTireComplete" />
                            </div>
                            <div class="field col-12 md:col-2">
                                <label for="cxferramentaid">Cx ferramenta</label>
                                <p-inputNumber inputId="cxferramentaid" [useGrouping]="false"
                                    formControlName="quantityToolBox" />
                            </div>

                            <div class="field col-12 md:col-2">
                                <label for="consultorid">Consultor</label>
                                <p-multiSelect id="consultorid" [options]="consultores$ | async" [selectionLimit]="1"
                                    optionLabel="name" display="chip" placeholder="Selecione"
                                    formControlName="UserAttendant" />
                            </div>

                            <div class="field col-12 lg:col-6 md:col-12 flex align-items-center gap-2">

                                <div class="layout-file">
                                    <div class="layout-file-img">
                                        @if(photoVehicle1){
                                        <p-image src="data:image/png;base64,{{photoVehicle1}}" alt="" height="80"
                                            width="80" [preview]="true" />
                                        }

                                    </div>

                                    @if(photoVehicle1){
                                    <button pButton icon="pi pi-trash" severity="danger"
                                        (click)="deleteFileVehicle1()"></button>
                                    }@else {
                                    <button pButton type="button" label="Foto Arquivo" severity="secondary"
                                        (click)="photoFile1Vehicle()"></button>
                                    }

                                </div>

                                <div class="layout-file">
                                    <div class="layout-file-img">
                                        @if(photoVehicle2){
                                        <p-image src="data:image/png;base64,{{photoVehicle2}}" alt="" height="80"
                                            width="80" [preview]="true" />
                                        }

                                    </div>

                                    @if(photoVehicle2){
                                    <button pButton icon="pi pi-trash" severity="danger"
                                        (click)="deleteFileVehicle2()"></button>
                                    }@else {
                                    <button pButton type="button" label="Foto Arquivo" severity="secondary"
                                        (click)="photoFile2Vehicle()"></button>
                                    }

                                </div>

                                <div class="layout-file">
                                    <div class="layout-file-img">
                                        @if(photoVehicle3){
                                        <p-image src="data:image/png;base64,{{photoVehicle3}}" alt="" height="80"
                                            width="80" [preview]="true" />
                                        }

                                    </div>

                                    @if(photoVehicle3){
                                    <button pButton icon="pi pi-trash" severity="danger"
                                        (click)="deleteFileVehicle3()"></button>
                                    }@else {
                                    <button pButton type="button" label="Foto Arquivo" severity="secondary"
                                        (click)="photoFile3Vehicle()"></button>
                                    }

                                </div>

                                <div class="layout-file">
                                    <div class="layout-file-img">
                                        @if(photoVehicle4){
                                        <p-image src="data:image/png;base64,{{photoVehicle4}}" alt="" height="80"
                                            width="80" [preview]="true" />
                                        }

                                    </div>

                                    @if(photoVehicle4){
                                    <button pButton icon="pi pi-trash" severity="danger"
                                        (click)="deleteFileVehicle4()"></button>
                                    }@else {
                                    <button pButton type="button" label="Foto Arquivo" severity="secondary"
                                        (click)="photoFile4Vehicle()"></button>
                                    }

                                </div>

                            </div>

                            <div class="field col-12 lg:col-3 md:col-12">

                                <div class="layout-card-option">
                                    <div class="layout-card-option-title">Veículo novo</div>

                                    <div class="flex align-items-center">
                                        <p-radioButton inputId="newyes" value="yes" formControlName="vehicleNew"
                                            (onClick)="placaRequiredRemove()"></p-radioButton>
                                        <label for="newyes" class="ml-2">Sim</label>
                                    </div>

                                    <div class="flex align-items-center">
                                        <p-radioButton inputId="newnot" value="not" formControlName="vehicleNew"
                                            (onClick)="placaRequiredAdd()"></p-radioButton>
                                        <label for="newnot" class="ml-2">Não</label>
                                    </div>

                                </div>
                            </div>

                            <div class="field col-12 lg:col-3 md:col-12">

                                <div class="layout-card-option">

                                    <div class="layout-card-option-title">Ordem serviço</div>

                                    <div class="flex align-items-center">
                                        <p-radioButton inputId="serviceyes" value="yes"
                                            formControlName="serviceOrder"></p-radioButton>
                                        <label for="serviceyes" class="ml-2">Sim</label>
                                    </div>

                                    <div class="flex align-items-center">
                                        <p-radioButton inputId="serviceno" value="not"
                                            formControlName="serviceOrder"></p-radioButton>
                                        <label for="serviceno" class="ml-2">Não</label>
                                    </div>

                                </div>
                            </div>

                            <div class="field col-12">
                                <label for="informacao" class="ml-2">Informações</label>
                                <textarea pInputTextarea id="informacao" rows="5" cols="30"
                                    formControlName="informationConcierge"></textarea>
                            </div>

                        </div>
                    </div>
                </form>

                <div class="flex pt-4 justify-content-start gap-2">
                    <button pButton (click)="prevCallback.emit()" label="Voltar" severity="secondary"
                        icon="pi pi-arrow-left"></button>
                    <button pButton icon="pi pi-plus" label="Adcionar " [outlined]="true"
                        (click)="addVehicleEntry()"></button>
                </div>
            </ng-template>

        </p-stepperPanel>
    </p-stepper>
</div>

<!-- Dialog Veículos -->
<p-dialog header="Veículos" [(visible)]="dialogVehicleVisible" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <p-table [value]="listVehicleEntry">

        <ng-template pTemplate="header">
            <tr>
                <th>Placa</th>
                <th>Frota</th>
                <th>Modelo</th>
                <th>Consultor</th>
                <th>Empresa</th>
                <th>Remover</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vehicle let-index="rowIndex">
            <tr>
                <td>
                    @if (vehicle.vehicleNew == "yes") {
                    <p-tag value="NOVO" severity="danger"></p-tag>
                    }@else{
                    <p-tag [value]="vehicle.placa | uppercase" severity="info"></p-tag>
                    }
                </td>
                <td>{{vehicle.frota | uppercase}}</td>
                <td>{{vehicle.modelDescription | uppercase}}</td>

                @if(vehicle.nameUserAttendant == null){
                <td><p-tag value="FALTA" severity="danger"></p-tag></td>
                }@else {
                <td>{{vehicle.nameUserAttendant | uppercase}}</td>
                }

                <td>{{vehicle.clientCompanyName | uppercase}}</td>
                <td>
                    <button pButton [rounded]="true" icon="pi pi-trash" severity="danger"
                        (click)="deleteVehicleEntry(index)"></button>
                </td>
            </tr>

        </ng-template>


    </p-table>
    <div class="flex justify-content-end mt-3">

        <button pButton type="submit" pRipple label="Finalizar" icon="pi pi-check" class="p-button-text"
            (click)="saveVehicleEntry()"></button>
    </div>
</p-dialog>

<!-- Filter ClientCompany -->
<p-dialog [(visible)]="dialogVisibleClientCompany" header="Empresas" [style]="{ width: '70rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

    <form [formGroup]="formClientCompanyFilter">
        <div class="p-fluid p-formgrid grid">

            <div class="field col-12 md:col-1">
                <label for="buscarClientCompanyId">Codígo</label>
                <p-inputNumber mode="decimal" inputId="buscarClientCompanyId" [useGrouping]="false"
                    formControlName="clientCompanyId" />
            </div>
            <div class="field col-12 md:col-3">
                <label for="buscarClientCompanyFantasia">Fantasia</label>
                <input pInputText id="buscarClientCompanyFantasia" type="text"
                    formControlName="clientCompanyFantasia" />
            </div>

            <div class="field col-12 md:col-8">
                <label for="buscarClientCompanyNome">Nome</label>
                <input pInputText id="buscarClientCompanyNome" type="text" formControlName="clientCompanyName" />
            </div>
            <div class="field col-12 md:col-3">
                <label for="clientCompanyCnpj">CNPJ</label>
                <p-inputMask id="clientCompanyCnpj" mask="99.999.999/9999-99" [unmask]="true"
                    formControlName="clientCompanyCnpj" />
            </div>
            <div class="field col-12 md:col-3">
                <label for="clientCompanyCpf">CPF</label>
                <p-inputMask id="clientCompanyCpf" mask="999.999.999-99" [unmask]="true"
                    formControlName="clientCompanyCpf" />
            </div>

            <div class="field col-12 md:col-2">
                <label for="clientCompanyRg">RG</label>
                <p-inputNumber id="clientCompanyRg" mode="decimal" [useGrouping]="false"
                    formControlName="clientCompanyRg" />
            </div>

            <div class="field col-12 md:col-3">

                <div class="layout-card-option-type">

                    <div class="flex align-items-center">
                        <p-radioButton inputId="pj" value="j" formControlName="clientCompanyTipo"></p-radioButton>
                        <label for="pj" class="ml-2">P/Juridica</label>
                    </div>

                    <div class="flex align-items-center">
                        <p-radioButton inputId="pf" value="f" formControlName="clientCompanyTipo"></p-radioButton>
                        <label for="pf" class="ml-2">P/Física</label>
                    </div>

                </div>
            </div>

            <div class="field col-12 md:col-1 flex flex-column">
                <label>Filtrar</label>
                <button pButton type="button" class="p-button-warning w-full" icon="pi pi-search"
                    (click)="filterClientCompany()"></button>
            </div>

        </div>
    </form>

    <p-table #tableFilter dataKey="id" [value]="dialogListClientCompany" selectionMode="single"
        [(selection)]="dialogSelectClientCompany"
        [globalFilterFields]="['id', 'clientcompany.id', 'clientcompany.name', 'name']" [paginator]="true" [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]" [loading]="dialogloadingClientCompany"
        [tableStyle]="{ 'min-width': '50rem','min-height': '20rem' }" styleClass="p-datatable-sm">
        <ng-template pTemplate="caption">
            <p-iconField iconPosition="left">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input pInputText type="text" (input)="tableFilter.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Pesquisar" />
            </p-iconField>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">Código<p-sortIcon field="id" /></th>
                <th pSortableColumn="name">Nome<p-sortIcon field="name" /></th>
                <th pSortableColumn="cnpj">CNPJ<p-sortIcon field="cnpj" /></th>
                <th pSortableColumn="cpf">CPF<p-sortIcon field="cpf" /></th>
                <th pSortableColumn="rg">RG<p-sortIcon field="rg" /></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-clientcompany>
            <tr [pSelectableRow]="clientcompany">
                <td>{{clientcompany.id}}</td>
                <td>{{clientcompany.name | uppercase}}</td>
                <td>{{clientcompany.cnpj}}</td>
                <td>{{clientcompany.cpf}}</td>
                <td>{{clientcompany.rg}}</td>
            </tr>
        </ng-template>
    </p-table>

    <div class="flex justify-content-end gap-2 mt-3">
        <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="hideDialogFilterClientCompany()"></button>
        <button pButton type="submit" pRipple label="Confirmar" icon="pi pi-check" class="p-button-text"
            (click)="selectClientCompany()"></button>
    </div>

</p-dialog>