<div class="layout-card">
    <p-toast />
    <div class="layout-card-title">
        <span class="text-500 font-medium">Veículos</span>
        <div class="flex gap-2">
            <p-button icon="pi pi-car" [text]="true" label="Atendimento" routerLink="/portaria/atendimento-veiculo"/> 
            <p-button icon="pi pi-refresh" [text]="true" label="Recarregar" (onClick)="listVehicles()"/>
        </div>
    </div>

    <p-table #tableFilter dataKey="id" [value]="listVehicleEntry" 
        [rowHover]="true" 
        [showCurrentPageReport]="true"    
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
        [(selection)]="selectedItems"
        [globalFilterFields]="['id','placa','modelDescription', 'frota','dateEntry','clientCompanyName','nameUserAttendant']"
        [paginator]="true" 
        [rows]="10" 
        [rowsPerPageOptions]="[10, 25, 50]" 
        styleClass="p-datatable-sm">
        <ng-template pTemplate="caption">
            <div class="mobile-visible">
                <div class="flex">
                    <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text"
                            (input)="tableFilter.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Pesquisar" />
                    </p-iconField>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="mobile-visible-none">
                <th style="font-weight: 400;">Sel.</th>
                <th pSortableColumn="id" style="width:10%;font-weight: 400;">Código <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="placa" style="width:15%;font-weight: 400;">Placa <p-sortIcon field="placa"></p-sortIcon></th>
                <th pSortableColumn="modelDescription" style="width:15%;font-weight: 400;">Modelo <p-sortIcon
                        field="modelDescription"></p-sortIcon></th>
                <th pSortableColumn="frota" style="width:15%;font-weight: 400;">Frota <p-sortIcon field="frota"></p-sortIcon></th>

                <th pSortableColumn="dateEntry" style="width:15%;font-weight: 400;">Entrada <p-sortIcon field="dateEntry"></p-sortIcon>
                </th>
                <th pSortableColumn="clientCompanyName" style="width:15%;font-weight: 400;">Empresa
                    <p-sortIcon field="clientCompanyName"></p-sortIcon>
                </th>
                <th pSortableColumn="nameUserAttendant" style="width:15%;font-weight: 400;">Consultor
                    <p-sortIcon field="nameUserAttendant"></p-sortIcon>
                </th>
                <th pSortableColumn="budgetStatus" style="width:15%;font-weight: 400;">Orçamento <p-sortIcon
                        field="budgetStatus"></p-sortIcon>
                </th>
                <th pSortableColumn="statusAuthExit" style="width:10%;font-weight: 400;">Liberação<p-sortIcon
                        field="statusAuthExit"></p-sortIcon>

                </th>
                <th pSortableColumn="days" style="width:5%;font-weight: 400;">Dias<p-sortIcon field="days"></p-sortIcon>
                </th>
                <th style="font-weight: 400;">Editar</th>
                <th style="font-weight: 400;">Liberar</th>

            </tr>
            <tr class="mobile-visible">
                <th style="width: 25%">Placa</th>
                <th style="width: 25%">Liberação</th>
                <th style="width: 15%">Dias</th>
                <th style="width: 15%">Editar</th>
                <th style="width: 20%">Liberar</th>
            </tr>
            <tr class="mobile-visible-none">
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                    <p-columnFilter type="text" field="id"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="placa"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="modelDescription"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="frota"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="dateEntry"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="clientCompanyName"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="nameUserAttendant"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="budgetStatus" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="statusOrcamento" (onChange)="filter($event.value)"
                                [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <p-tag [value]="option.value" [severity]="getSeverity(option.label)"></p-tag>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="statusAuthExit" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="statusLiberacao" (onChange)="filter($event.value)"
                                [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <i class="pi " [ngClass]="{
                                        'pi-times-circle text-red-500':option.value == notAuth,
                                        'pi-check-circle text-green-500':option.value == firstAuth,
                                        'pi-thumbs-up-fill text-green-600':option.value == authorized}">
                                    </i>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th></th>
                <th></th>
                <th>
                    @if (selectedItems.length > 0) {
                    <p-button label="Liberar" severity="success" size="small"
                        (onClick)="addAuthorizationAll()"></p-button>
                    }
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vehicle>
            <tr [pSelectableRow]="vehicle" class="mobile-visible-none">
                <td> <p-tableCheckbox [value]="vehicle"></p-tableCheckbox> </td>
                <td><span class="text-500">{{ vehicle.id }}</span></td>
                <td>
                    @if(vehicle.placa == "NOVO"){
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        [ngStyle]="{width: '3.5rem', height: '2.5rem'}">
                        <span class="text-500">NOVO</span>
                    </div>
                    }@else {
                    <span class="text-500">{{vehicle.placa | uppercase}}</span>
                    }
                </td>
                <td><span class="text-500">{{ vehicle.modelDescription | uppercase }}</span>
                </td>
                <td><span class="text-500">{{ vehicle.frota | uppercase }}</span></td>
                <td><span class="text-500">{{ vehicle.dateEntry }}</span></td>
                <td>
                    @if(vehicle.clientCompanyName =="FALTA"){
                    <p-tag value="FALTA" severity="danger"></p-tag>
                    }@else {
                    <span class="text-500">{{ vehicle.clientCompanyName | uppercase }}</span>
                    }
                </td>
                <td>
                    @if(vehicle.nameUserAttendant == "FALTA"){
                    <p-tag value="FALTA" severity="danger"></p-tag>
                    }@else {
                    <span class="text-500">{{ vehicle.nameUserAttendant | uppercase }}</span>
                    }
                </td>
                <td><p-tag [value]="vehicle.budgetStatus" [severity]="getSeverity(vehicle.budgetStatus)"></p-tag></td>
                <td class="text-center">
                    <i class="pi " [ngClass]="{
                        'pi-times-circle text-red-500':vehicle.statusAuthExit == notAuth,
                        'pi-check-circle text-green-500':vehicle.statusAuthExit == firstAuth,
                        'pi-thumbs-up-fill text-green-600':vehicle.statusAuthExit == authorized}">
                    </i>
                </td>
                <td>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <span class="text-500"> {{vehicle.days}}</span>
                    </div>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" size="small" [text]="true"
                        (click)="editVeiculo(vehicle.id)"></button>
                </td>
                <td>
                    <p-button label="Liberar" [outlined]="true" size="small" severity="success"
                        (onClick)="authExit(vehicle)"></p-button>
                </td>
            </tr>
            <tr class="mobile-visible">
                <td style="width: 25%">
                    @if(vehicle.placa == "NOVO"){
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        [ngStyle]="{width: '3.5rem', height: '2.5rem'}">
                        <span class="text-500">NOVO</span>
                    </div>
                    }@else {
                    <span class="text-500">{{vehicle.placa | uppercase}}</span>
                    }
                </td>
                <td class="text-center" style="width: 20%">
                    <i class="pi " [ngClass]="{
                        'pi-times-circle text-red-500':vehicle.statusAuthExit == notAuth,
                        'pi-check-circle text-green-500':vehicle.statusAuthExit == firstAuth,
                        'pi-thumbs-up-fill text-green-600':vehicle.statusAuthExit == authorized}">
                    </i>
                </td>
                <td style="width: 10%">
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <span class="text-500"> {{vehicle.days}}</span>
                    </div>
                </td>
                <td style="width: 15%">
                    <button pButton pRipple icon="pi pi-pencil" size="small" [text]="true"
                        (click)="editVeiculo(vehicle.id)"></button>
                </td>
                <td style="width: 20%">
                    <p-button label="Liberar" [outlined]="true" size="small" severity="success"
                        (onClick)="authExit(vehicle)"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>