:host {
    .layout-card-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        span {
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--color-grey-800);
        }
    }

    .mobile-visible {
        display: none;
    }

    ::ng-deep {
        .p-tag {
            font-weight: 400;
        }

        .p-tag.p-tag-secondary {
            background-color: var(--color-grey-300);
            color: var(--color-text-primary);
        }
    }

    @media only screen and (min-width: 375px) and (max-width: 667px) {
        .mobile-visible-none {
            display: none;
        }

        .mobile-visible {
            display: flex;
        }

    }
}