<div class="layout-card">
    <p-toast />
    <div class="layout-card-title">
        <span>Veículos</span>
        <p-button icon="pi pi-sync" [text]="true" label="Recarregar" (onClick)="init()" />
    </div>
    <!-- Desktop -->
    <div class="mobile-visible-none">
        <p-table dataKey="id" [value]="listVehicleEntry" [(selection)]="selectedItems" [rowHover]="true" 
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}" 
            [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [showCurrentPageReport]="true"
            [tableStyle]="{'min-height': '20rem' }"  styleClass="p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                    <th>Sel.</th>
                    <th pSortableColumn="id">Código<p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="vehiclePlate">Placa<p-sortIcon field="vehiclePlate"></p-sortIcon></th>
                    <th pSortableColumn="modelDescription" >Modelo<p-sortIcon field="modelDescription"></p-sortIcon></th>
                    <th pSortableColumn="vehicleFleet">Frota<p-sortIcon field="vehicleFleet"></p-sortIcon></th>
                    <th pSortableColumn="numServiceOrder">Nro. O.S.<p-sortIcon field="numServiceOrder"></p-sortIcon></th>
                    <th pSortableColumn="entryDate" >Entrada<p-sortIcon field="entryDate"></p-sortIcon></th>
                    <th pSortableColumn="clientCompanyName">Empresa<p-sortIcon field="clientCompanyName"></p-sortIcon></th>
                    <th pSortableColumn="attendantUserName">Consultor<p-sortIcon field="attendantUserName"></p-sortIcon></th>
                    <th pSortableColumn="statusAuthExit">Liberação<p-sortIcon field="statusAuthExit"></p-sortIcon></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="id"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="vehiclePlate"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="modelDescription"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="vehicleFleet"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="numServiceOrder"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="entryDate"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="clientCompanyName"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="attendantUserName"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter field="budgetStatus" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="statusOrcamento" (onChange)="filter($event.value)" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <p-tag [value]="option.value" [severity]="getSeverity(option.label)"></p-tag>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th></th>
                    <th>
                        <p-button *ngIf="selectedItems.length > 0" type="button" label="Liberar" icon="pi pi-car" text="true" size="small" severity="success-custom" (onClick)="addAuthorizationAll()"></p-button>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-vehicle>
                <tr [pSelectableRow]="vehicle">
                    <td> <p-tableCheckbox [value]="vehicle"></p-tableCheckbox> </td>
                    <td><span class="text-500">{{ vehicle.id }}</span></td>
                    <td>
                        @if(vehicle.vehiclePlate == "NOVO"){
                        <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                            [ngStyle]="{width: '3.5rem', height: '2.5rem'}">
                            <span class="text-500">NOVO</span>
                        </div>
                        }@else {
                        <span class="text-500">{{vehicle.vehiclePlate | uppercase}}</span>
                        }
                    </td>
                    <td><span class="text-500">{{ vehicle.modelDescription | uppercase }}</span>
                    </td>
                    <td><span class="text-500">{{ vehicle.vehicleFleet | uppercase}}</span></td>
                    <td><span class="text-500">{{ vehicle.numServiceOrder}}</span></td>
                    <td><span class="text-500">{{ vehicle.entryDate }}</span></td>
                    <td>
                        @if(vehicle.clientCompanyName =="FALTA"){
                        <p-tag value="FALTA" severity="danger"></p-tag>
                        }@else {
                        <span class="text-500">{{ vehicle.clientCompanyName | uppercase }}</span>
                        }
                    </td>
                    <td>
                        @if(vehicle.attendantUserName == "FALTA"){
                        <p-tag value="FALTA" severity="danger"></p-tag>
                        }@else {
                        <span class="text-500">{{ vehicle.attendantUserName | uppercase }}</span>
                        }
                    </td>
                    <td class="text-center">
                        <i class="pi " [ngClass]="{
                            'pi-times-circle text-red-500':vehicle.authExitStatus == notAuth,
                            'pi-check-circle text-green-500':vehicle.authExitStatus == firstAuth,
                            'pi-thumbs-up-fill text-green-600':vehicle.authExitStatus == authorized}">
                        </i>
                    </td>
                    <td>
                        <p-button type="button" label="Editar" icon="pi pi-pencil" text="true" size="small" severity="secondary-custom" (onClick)="editVeiculo(vehicle.id)"></p-button>
                    </td>
                    <td>
                        <p-button type="button" label="Liberar" icon="pi pi-car" text="true" size="small" severity="success-custom" (onClick)="authExit(vehicle)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- Mobile -->
    <div class="mobile-visible">
        <p-table #tableFilter dataKey="id" [value]="listVehicleEntry" [rowHover]="true" 
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}" 
        [globalFilterFields]="['id','vehiclePlate','modelDescription', 'vehicleFleet','entryDate','clientCompanyName','attendantUserName']"
        [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [showCurrentPageReport]="true"
         [tableStyle]="{ 'min-width': '20rem' ,'min-height': '20rem'}" styleClass="p-datatable-sm">
        <ng-template pTemplate="caption">
            <div class="flex">
                 <p-iconField iconPosition="left">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="tableFilter.filterGlobal($any($event.target).value, 'contains')" placeholder="Pesquisar" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
             <tr>
                <th pSortableColumn="vehiclePlate">Placa<p-sortIcon field="vehiclePlate"></p-sortIcon></th>
                 <th pSortableColumn="vehicleFleet">Frota<p-sortIcon field="vehicleFleet"></p-sortIcon></th>
                <th pSortableColumn="authExitStatus">Lib.<p-sortIcon field="authExitStatus"></p-sortIcon></th>
                <th>Editar</th>
                <th>Liberar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vehicle>
            <tr>
                <td>
                    @if(vehicle.vehiclePlate == "NOVO"){
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        [ngStyle]="{width: '3.5rem', height: '2.5rem'}">
                        <span class="text-500">NOVO</span>
                    </div>
                    }@else {
                    <span class="text-500">{{vehicle.vehiclePlate | uppercase}}</span>
                    }
                </td>
                <td>{{vehicle.vehicleFleet | uppercase}}</td>
                <td>
                    <i class="pi " [ngClass]="{
                        'pi-times-circle text-red-500':vehicle.authExitStatus == notAuth,
                        'pi-check-circle text-green-500':vehicle.authExitStatus == firstAuth,
                        'pi-thumbs-up-fill text-green-600':vehicle.authExitStatus == authorized}">
                    </i>
                </td>
                <td>
                    <p-button type="button" icon="pi pi-pencil" text="true" size="small" severity="secondary-custom" (onClick)="editVeiculo(vehicle.id)"></p-button>
                </td>
                <td>
                    <p-button type="button" icon="pi pi-car" text="true" size="small" severity="success-custom" (onClick)="authExit(vehicle)"></p-button>
                </td>
            </tr>
        </ng-template>
        </p-table>
    </div>
</div>