<div class="layout-card">
    <!-- Info -->
    <p-toast />
    <div class="layout-card-title">
        <span>Empresa/Revenda</span>
    </div>

    <p-tabView>
        <p-tabPanel header="Empresa">
            <div class="card">
                <form [formGroup]="formCompany">
                    <div class="p-fluid p-formgrid grid">
                        <div class="col-12 md:col-6">
                            <div class="p-fluid p-formgrid grid">
                                <div class="col-12 md:col-2">
                                    <label for="companyId">Código</label>
                                    <p-inputNumber id="companyId" formControlName="id"></p-inputNumber>
                                </div>
                                <div class="col-12 md:col-10">
                                    <label for="companyName">Razão Social</label>
                                    <input pInputText id="companyName" type="text" formControlName="name" />
                                </div>
                                <div class="col-12 md:col-6">
                                    <label for="companyCnpj">CNPJ</label>
                                    <p-inputMask id="companyCnpj" mask="99.999.999/9999-99" [unmask]="true" formControlName="cnpj"></p-inputMask>
                                </div>
                                <div class="col-12 md:col-6">
                                    <label for="companyEmail">Email</label>
                                    <input pInputText id="companyEmail" type="email" formControlName="email" />
                                </div>
                                <div class="col-12 md:col-4">
                                    <label for="companyPhone">Telefone</label>
                                    <p-inputMask id="companyPhone" mask="(99) 9999-9999" [unmask]="true" formControlName="phone"></p-inputMask>
                                </div>
                                <div class="col-12 md:col-4">
                                    <label for="companyCellphone">Celular</label>
                                    <p-inputMask id="companyCellphone" mask="(99) 9 9999-9999" [unmask]="true" formControlName="cellphone"></p-inputMask>
                                </div>
                                <div class="md:col-4">
                                </div>
                                <div class="col-12 md:col-3">
                                    <label for="companyZipCode">CEP</label>
                                    <p-inputMask id="companyZipCode" mask="99999-999" [unmask]="true" formControlName="zipCode"></p-inputMask>
                                </div>
                                <div class="col-12 md:col-7">
                                    <label for="companyName">Endereço</label>
                                    <input pInputText id="companyName" type="text" formControlName="address" />
                                </div>
                                <div class="col-12 md:col-2">
                                    <label for="companyName">Nº</label>
                                    <input pInputText id="companyName" type="text" formControlName="addressNumber" />
                                </div>
                                <div class="col-12 md:col-2">
                                    <label for="companyUf">UF</label>
                                    <input pInputText id="companyUf" type="text" formControlName="state" />
                                </div>
                                <div class="col-12 md:col-10">
                                    <label for="companyName">Cidade</label>
                                    <input pInputText id="companyName" type="text" formControlName="city" />
                                </div>
                                <div class="col-12 md:col-6">
                                    <label for="companyName">Bairro</label>
                                    <input pInputText id="companyName" type="text" formControlName="neighborhood" />
                                </div>
                                <div class="col-12 md:col-6">
                                    <label for="companyName">Complemento</label>
                                    <input pInputText id="companyName" type="text" formControlName="addressComplement" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </p-tabPanel>
        <p-tabPanel header="Revendas">
            <p-table #tableFilter dataKey="id" [value]="resales"  [globalFilterFields]="['id','name','cnpj', 'state']" 
            [tableStyle]="{ 'min-width': '20rem' ,'min-height': '20rem'}" styleClass="p-datatable-sm">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <p-iconField iconPosition="left">
                            <p-inputIcon>
                                <i class="pi pi-search"></i>
                            </p-inputIcon>
                            <input pInputText type="text" (input)="tableFilter.filterGlobal($any($event.target).value, 'contains')" placeholder="Pesquisar" />
                        </p-iconField>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="status">Ativo<p-sortIcon field="status"></p-sortIcon></th>
                        <th pSortableColumn="id">Código<p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="state">Estado<p-sortIcon field="state"></p-sortIcon></th>
                        <th pSortableColumn="cnpj">CNPJ<p-sortIcon field="cnpj"></p-sortIcon></th>
                        <th pSortableColumn="name">Razão Social<p-sortIcon field="name"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-resale>
                    <tr>
                        <td>
                            <i class="pi pi-circle-fill"
                                [ngClass]="{ 
                                    'text-green-500':resale.status == enabled, 
                                    'text-red-500':resale.status != enabled }"></i>
                        </td>
                        <td>{{resale.id}}</td>
                        <td>{{resale.state | uppercase}}</td>
                        <td>{{maskCNPJ(resale.cnpj)}}</td>
                        <td>{{resale.name | uppercase}}</td>
                        <td>
                            <button pButton [text]="true" size="small" icon="pi pi-pencil" severity="secondary-custom" label="Editar"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </p-tabPanel>
    </p-tabView>



</div>