<!-- Print -->
<div id="print-sectionId" style="display: none;">
    <img src="../../../../assets/image/barra-nativa.jpg" alt="" width="800">
    <table style="border: 1px solid #ddd; padding: 4px; width: 100%;">
        <tr>
            <td>
                <span>Pedido Nº: <strong>{{printPurchaseOrder().id}}</strong></span>
            </td>
            <td>
                <span>Vendedor: {{printPurchaseOrder().attendantName | uppercase}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Data: {{printPurchaseOrder().dateGeneration | date: 'dd/MM/yyyy'}}</span>
            </td>
            <td>
                @if(printPurchaseOrder().attendantDddCellphone == '' || printPurchaseOrder().attendantCellphone == ''){
                <span>Celular:</span>
                }@else {
                <span>Celular: {{"("+printPurchaseOrder().attendantDddCellphone+")"+"
                    "+printPurchaseOrder().attendantCellphone}}</span>
                }
            </td>
        </tr>
        <tr>
            <td><span>Código Forn.: {{printPurchaseOrder().clientCompanyId}}</span></td>
            <td><span>E-mail: {{printPurchaseOrder().attendantEmail}}</span></td>
        </tr>
        <tr>
            <td><span>Fornecedor: {{printPurchaseOrder().clientCompanyName }}</span></td>
            <td><span>Data Entrega: {{printPurchaseOrder().dateDelivery | date: 'dd/MM/yyyy'}}</span></td>
        </tr>
        <tr>
            <td>
                @if(printPurchaseOrder().nfNum != 0){ <span>NF: {{printPurchaseOrder().nfNum}}</span> }@else{
                <span>NF:</span> }
            </td>
            <td><span>Pagamento: {{printPurchaseOrder().paymentType | uppercase }}</span></td>
        </tr>
    </table>
    <table class="print-table">
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Qtd</th>
            <th>Preço</th>
            <th>Desconto</th>
            <th>Total</th>
        </tr>
        <tr *ngFor="let item of printPurchaseOrderItems">
            <td>{{item?.partCode }}</td>
            <td>{{item?.partDescription | uppercase }}</td>
            <td>{{item?.quantity || ''}}</td>
            <td>{{item?.price || 0 | currency }}</td>
            <td>{{item?.discount || 0 | currency}}</td>
            <td>{{(item?.price * item?.quantity) - item?.discount || 0 | currency}}</td>
        </tr>
        <br>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>{{totalItemsPrice() | currency}}</strong></td>
            <td><strong>{{totalItemsDiscount() | currency}}</strong></td>
            <td><strong>{{totalItemsPrice() - totalItemsDiscount() | currency}}</strong></td>
        </tr>

    </table>
    <br>
    <div style="height: 60px; width: 100%; border: 1px solid #ddd;text-align: left;
    padding: 4px; font-family: Arial, Helvetica, sans-serif; border-collapse: collapse;">
        <label for="">Inf.: </label>{{printPurchaseOrder().information | uppercase}}
    </div>
    <table style="width: 100%; text-align: center;">
        <tr>
            <td>AUTORIZADO POR</td>
            <td>AUTORIZADO POR</td>
            <td>AUTORIZADO POR</td>
        </tr>
        <tr>
            <td class="text-xs"><strong>{{printPurchaseOrder().responsibleName}}</strong></td>
            <td class="text-xs"><strong>Luise Rossi</strong></td>
            <td class="text-xs"><strong>Bruna Dones Gayer</strong></td>
        </tr>
        <tr>
            <td class="text-xs">Comprador</td>
            <td class="text-xs">Diretora Financeira</td>
            <td class="text-xs">Diretora comercial</td>
        </tr>
    </table>
</div>